 <html>
 <head>

  <title>Pronosticao - Historique de nos pronostics</title>

  <meta name="description" content="Historique de nos pronostics sur la Ligue 1, la Ligue Europea et la Ligue des Champions." />

</head>
 <body>

 <br><br><br><br><br>

 <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">VICTOIRE</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">NUL</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">DEFAITE</button>
    </div>
  </div>
</br></br>

<div class="container-fluid">
      <h2 class="text-center">2e journée de Ligue 1</h2></p>
  </div><br>

      <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Paris</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Bastia</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
  </div>
</br>

      <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Metz</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Nantes</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
  </div>
</br>

      <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Rennes</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Evian</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
  </div>
</br>

      <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Saint-Etienne</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Reims</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
  </div>
</br>

      <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Bordeaux</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Monaco</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
  </div>
</br>

<div class="container-fluid">
      <h2 class="text-center">1e journée de Ligue 1</h2></p>
  </div><br>

    <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Lyon</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Rennes</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
  </div>
</br>

  <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Bastia</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Marseille</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
  </div>
</br>

  <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Guingamp</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Saint-Etienne</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
  </div>
</br>

  <div class="container-fluid">
      <h1 class="text-center">Finale du Trophée des Champions</h1></p>
  </div><br>

  <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Paris Saint-Germain</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">En Avant de Guingamp</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
  </div>
</br>

</body>
</html>