 <html>
 <head>

  <title>Pronosticao - Pronostics pour paris de foot</title>

  <meta name="description" content="Pronostics et cotes pour vous aider à parier intelligemment sur la Ligue 1, l'UEFA et la Champions League." />

</head>
 <body>

 <br><br><br><br><br>

 <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">VICTOIRE</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">NUL</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">DEFAITE</button>
    </div>
  </div>
</br></br>

<div class="container-fluid">
      <h2 class="text-center">4e journée de Ligue 1</h2></p>
  </div><br>

  <a class="btn-group btn-group-lg btn-group-justified" title ="OM-Nice" href="match1
  ">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Marseille</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Nice</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

    <a class="btn-group btn-group-lg btn-group-justified" title="Monaco-LOSC" href="match2">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Monaco</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Lille</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

     <a class="btn-group btn-group-lg btn-group-justified" title="Caen-Rennes" href="match3">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Caen</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Rennes</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

      <a class="btn-group btn-group-lg btn-group-justified" title="Nantes-Montpellier" href="match4">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Nantes</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Montpellier</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

     <a class="btn-group btn-group-lg btn-group-justified" title="Lorient-EAG" href="match5">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Lorient</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Guingamp</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

       <a class="btn-group btn-group-lg btn-group-justified" title="Toulouse-Evian" href="match6">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Toulouse</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Evian</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

       <a class="btn-group btn-group-lg btn-group-justified" title="Lens-Reims" href="match7">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Lens</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Reims</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

  <a class="btn-group btn-group-lg btn-group-justified" title="Bordeaux-Bastia" href="#">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Bordeaux</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Bastia</button>
    </div>
      <span class="input-group-addon"></span>
  </a><br>

   <a class="btn-group btn-group-lg btn-group-justified" title="Metz-OL" href="#">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Metz</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Lyon</button>
    </div>
      <span class="input-group-addon"></span>
  </a><br>

    <a class="btn-group btn-group-lg btn-group-justified" title="PSG-ASSE" href="#">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Paris</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Saint-Etienne</button>
    </div>
      <span class="input-group-addon"></span>
  </a><br>

</br><br><br>

 <p class="text-center"><a class="text-center" href="historique"><button type="button" class="btn btn-lg btn-info active">Historique</button></a></p>

 <br><br>


</body>
</html>