 <html>
 <head>
  <title>Pronosticão - Pronostics pour paris de foot</title></head>
  <meta name="description" content="Pronostics et cotes pour vous aider à parier intelligemment sur la Ligue 1, l'UEFA et la Champions League." />
 <body>

 <br><br><br><br><br><div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">VICTOIRE</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">NUL</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">DEFAITE</button>
    </div>
  </div>
</br></br>

  <div class="container-fluid">
      <h1 class="text-center">Finale du Trophée des Champions</h1></p>
  </div><br>

  <a class="btn-group btn-group-lg btn-group-justified" href="match1">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Paris Saint-Germain</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">En Avant de Guingamp</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a>
</br>

<div class="container-fluid">
      <h2 class="text-center">1e journée de Ligue 1</h2></p>
  </div><br>

  <a class="btn-group btn-group-lg btn-group-justified" href="match2">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Reims</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">PSG</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

   <a class="btn-group btn-group-lg btn-group-justified" href="match3">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Bastia</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Marseille</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

<a class="btn-group btn-group-lg btn-group-justified" href="match4">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Nantes</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Lens</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a>

</body>
</html>