 <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">VICTOIRE</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">NUL</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">DEFAITE</button>
    </div>
  </div>
</br></br>

  <a class="btn-group btn-group-lg btn-group-justified" href="match1">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Reims</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">PSG</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a>
</br>

  <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Bastia</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Marseille</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </div></br>

  <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Nantes</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Lens</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </div></br>

  <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Montpellier</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Bordeaux</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </div></br>

  <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Lille</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Metz</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </div></br>

  <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Guingamp</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Saint-Etienne</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </div><br>

  <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Evian-TG</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Caen</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </div>
<br>

<div class="btn-group btn-group-lg btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-warning active">Lyon</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-warning active">Rennes</button>
  </div>
    <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
</div><br>

<div class="btn-group btn-group-lg btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-success active">Monaco</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-danger active">Lorient</button>
  </div>
    <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
</div><br>


