 <html>
 <head>

  <title>Pronosticao - Pronostics pour paris de foot</title>

  <meta name="description" content="Pronostics et cotes pour vous aider à parier intelligemment sur la Ligue 1, l'UEFA et la Champions League." />

</head>
 <body>

 <br><br><br><br><br>

 <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">VICTOIRE</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">NUL</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">DEFAITE</button>
    </div>
  </div>
</br></br>

<div class="container-fluid">
      <h2 class="text-center">3e journée de Ligue 1</h2></p>
  </div><br>

  <a class="btn-group btn-group-lg btn-group-justified" title ="Evian-PSG" href="match1">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Evian</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">PSG</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

    <a class="btn-group btn-group-lg btn-group-justified" title="Guingamp-OM" href="match2">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Guingamp</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Marseille</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

     <a class="btn-group btn-group-lg btn-group-justified" title="Reims-Caen" href="match3">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Reims</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Caen</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

      <a class="btn-group btn-group-lg btn-group-justified" title="Nice-Bordeaux" href="match4">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Nice</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Bordeaux</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

     <a class="btn-group btn-group-lg btn-group-justified" title="LOSC-Lorient" href="match5">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Lille</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Lorient</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

       <a class="btn-group btn-group-lg btn-group-justified" title="Bastia-Toulouse" href="match6">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Bastia</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Toulouse</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

       <a class="btn-group btn-group-lg btn-group-justified" title="Montpellier-Metz" href="match7">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Montpellier</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Metz</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

  <a class="btn-group btn-group-lg btn-group-justified" title="Lyon-Lens" href="match8">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Lyon</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Lens</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

   <a class="btn-group btn-group-lg btn-group-justified" title="ASSE-Reims" href="match9">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Saint-Etienne</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Rennes</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

    <a class="btn-group btn-group-lg btn-group-justified" title="Nantes-Monaco" href="match10">
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">Nantes</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success active">Monaco</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a><br>

</br><br><br>

 <p class="text-center"><a class="text-center" href="historique"><button type="button" class="btn btn-lg btn-info active">Historique</button></a></p>

 <br><br>


</body>
</html>