 <html>
 <head>

  <title>Pronosticao - Pronostics pour paris de foot</title>

  <meta name="description" content="Pronostics et cotes pour vous aider à parier intelligemment sur la Ligue 1, l'UEFA et la Champions League." />

</head>
 <body>

 <br><br><br><br><br>

 <div class="btn-group btn-group-lg btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success active">VICTOIRE</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">NUL</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger active">DEFAITE</button>
    </div>
  </div>
</br></br>

<div class="container-fluid">
      <h2 class="text-center">2e journée de Ligue 1</h2></p>
  </div><br>

  <a class="btn-group btn-group-lg btn-group-justified" href="match1">
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Caen</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-warning active">Lille</button>
    </div>
      <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
  </a>
</br><br><br>

 <p class="text-center"><a class="text-center" href="historique"><button type="button" class="btn btn-lg btn-info active">Historique</button></a></p>


</body>
</html>