<br><br><br><br><br>
	<h3 class="text-center">
	"<i>Pariez comme vous vivez</i>", manifeste pour un art du pari</h3>
	<p class="text-center">_______________________________________</p><br><br><br>

    <h4 class="text-center">On ne parie pas pour gagner. On ne parie pas pour devenir riche.</h4>
    <h3 class="text-center">On parie pour jouer.</h3><br>

	<p class="text-center">Est-ce qu’on entend souvent parler de personnes qui se sont enrichies en pariant sur le foot ?</p>
	<h4 class="text-center">Non.</h4> 
	<p class="text-center">En revanche, on en connaît beaucoup qui ont perdu de très grosses sommes.</p><br>
	<p class="text-center">Alors pourquoi parier ?</p>
	<h4 class="text-center">Pour l’enthousiasme, l’excitation, l’adrénaline.</h4> <p class="text-center">Pour ne plus vivre un match à 75%</p>
	<h4 class="text-center">ou même à 100%,</h4>
	<h3 class="text-center">mais à 200%.</h3><br> 
	<h4 class="text-center">Pour la beauté du geste : pour l’amour du jeu.</h4>
	<p class="text-center">Comme on fait du vélo sans les mains,</p>
	<p class="text-center">comme on fume une cigarette,</p>
	<p class="text-center">comme on boit un alcool fort.</p><br><br>

	<h4 class="text-center">Alors quand vous pariez, ne pariez pas pour gagner. Ne pariez pas pour devenir riche.</h4>
	<h3 class="text-center">Pariez pour jouer.</h3><br>

	<p class="text-center">Quand vous pariez sur un match,</p>
	<h4 class="text-center">regardez le match.</h4>
	<p class="text-center">Vibrez à chaque occasion, à chaque carton, à chaque retournement de situation.</p><br>

	<p class="text-center">Pariez entre amis,</p>
	<h4 class="text-center">et regardez le match ensemble.</h4><br>

	<p class="text-center">Ou encore mieux : pariez au tabac,</p>
	<p class="text-center">savourez l’ambiance et, pourquoi pas, restez pour regarder le match avec tous les autres parieurs.</p><br>

	<p class="text-center">Ne pariez pas de grosses sommes, ou très occasionnellement :</p>
	<p class="text-center">l’important n’est pas la récompense,</p>
	<h4 class="text-center">mais l’enjeu.</h4><br>

	<p class="text-center">Ne prenez pas de risques inconsidérés,</p>
	<p class="text-center">juste assez pour frémir,</p>
	<p class="text-center">trembler,</p>
	<h4 class="text-center">puis exulter.</h4><br>

	<h2 class="text-center">Pariez comme vous vivez.</h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

