<br><br><br><br><br>
<div class="panel panel-default">
  <div class="panel-heading">
  	<h4>10 août 17h00</h4>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><img src="http://www.wincomparator.com/upload/images/Logo%20Lyon.jpg" alt="Lyon" height="125" width="125">  <span class="glyphicon glyphicon-minus"></span>  
      <img src="http://www.wincomparator.com/upload/images/Logo%20Rennes.jpg" alt="Rennes" height="125" width="125"></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <p class="text-center">Notre pronosticão : Match nul.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">3.15</button>  <button type="button" class="btn btn-xs btn-warning active">3.80</button> <button type="button" class="btn btn-xs btn-success active">1.15</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">8.00</button> <button type="button" class="btn btn-xs btn-warning active">4.00</button> <button type="button" class="btn btn-xs btn-success active">1.33</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">8.10</button> <button type="button" class="btn btn-xs btn-warning active">4.40</button> <button type="button" class="btn btn-xs btn-success active">1.37</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">8.05</button> <button type="button" class="btn btn-xs btn-warning active">4.35</button> <button type="button" class="btn btn-xs btn-success active">1.36</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">7.00</button> <button type="button" class="btn btn-xs btn-warning active">4.10</button> <button type="button" class="btn btn-xs btn-success active">1.34</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">Le PSG de Laurent Blanc a remporté le titre la saison passée et compte bien renouveler le sacre cette année, renforcé par l'arrivée du défenseur brésilien David Luiz en provenance de Chelsea. Le club de la capitale sera opposé au Stade de Reims dans un match largement à leur portée.</p>
  </div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous êtes d'humeur à jouer, aujourd'hui, un 3-0 pour Paris est envisageable.</p>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">3.15</button>  <button type="button" class="btn btn-xs btn-warning active">3.80</button> <button type="button" class="btn btn-xs btn-success active">1.15</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">8.00</button> <button type="button" class="btn btn-xs btn-warning active">4.00</button> <button type="button" class="btn btn-xs btn-success active">1.33</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">8.10</button> <button type="button" class="btn btn-xs btn-warning active">4.40</button> <button type="button" class="btn btn-xs btn-success active">1.37</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">8.05</button> <button type="button" class="btn btn-xs btn-warning active">4.35</button> <button type="button" class="btn btn-xs btn-success active">1.36</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">7.00</button> <button type="button" class="btn btn-xs btn-warning active">4.10</button> <button type="button" class="btn btn-xs btn-success active">1.34</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Reims</button> <button type="button" class="btn btn-xs btn-success active">Paris</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Reims</button> <button type="button" class="btn btn-xs btn-success active">Paris</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">FootballFeeling <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Reims</button> <button type="button" class="btn btn-xs btn-warning active">Paris</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Pronostics.info <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">0</button> <button type="button" class="btn btn-xs btn-success active">3</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Reims</button> <button type="button" class="btn btn-xs btn-danger active">Paris</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Reims</button> <button type="button" class="btn btn-xs btn-success active">Paris</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coter <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">1</button> <button type="button" class="btn btn-xs btn-warning active">1</button></p></div>

    </div>
  </div>
</div><br>