 <html>
 <head>

  <title>Pronosticão - Pronostics pour Lille-Metz</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Lille-Metz de la 1e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>9 août 21h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_du_losc.png", :alt => "Logo du LOSC") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_metz.png", :alt => "Logo du FC Metz") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire du LOSC</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">1.35</button> <button type="button" class="btn btn-xs btn-warning active">3.80</button> <button type="button" class="btn btn-xs btn-danger active">7.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.40</button> <button type="button" class="btn btn-xs btn-warning active">4.30</button> <button type="button" class="btn btn-xs btn-danger active">8.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.37</button> <button type="button" class="btn btn-xs btn-warning active">4.65</button> <button type="button" class="btn btn-xs btn-danger active">7.80</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.37</button> <button type="button" class="btn btn-xs btn-warning active">4.10</button> <button type="button" class="btn btn-xs btn-danger active">7.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.28</button> <button type="button" class="btn btn-xs btn-warning active">4.60</button> <button type="button" class="btn btn-xs btn-danger active">7.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.37</button> <button type="button" class="btn btn-xs btn-warning active">4.10</button> <button type="button" class="btn btn-xs btn-danger active">7.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">1.36</button> <button type="button" class="btn btn-xs btn-warning active">4.00</button> <button type="button" class="btn btn-xs btn-danger active">7.75</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Face au promu de ligue 2, le LOSC devrait logiquement l'emporter. Bien que les Messins aient fait une grosse saison, il est peu probable qu'ils parviennent à s'imposer au stade Pierre-Mauroy dès le premier match.</p>
  </div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous avez pensé à mettre un cierge en l'honneur de Saint-Dominique de Guzman, tentez <b>le nul</b> si vraiment vous cherchez des cotes plus élevées.</p>
</div><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lille</button> <button type="button" class="btn btn-xs btn-danger active">Metz</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lille</button> <button type="button" class="btn btn-xs btn-danger active">Metz</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lille</button> <button type="button" class="btn btn-xs btn-success active">Metz</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lille</button> <button type="button" class="btn btn-xs btn-danger active">Metz</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lille</button> <button type="button" class="btn btn-xs btn-danger active">Metz</button></p></div>

     <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">1</button> <button type="button" class="btn btn-xs btn-warning active">1</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Montpellier-Bordeaux" href="match6"><span class="glyphicon glyphicon-chevron-left"></span> Montpellier-Bordeaux</a>
      <a type="button" class="btn btn-info active" title= "Guingamp-Saint-Etienne" href="match8">Guingamp-Saint-Etienne <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>