 <html>
 <head>
  <title>Pronosticão - Pronostics pour Nice-Toulouse</title>
  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Nice-Toulouse de la 1e journée de Ligue 1." />
</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>9 août 21h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><img src="http://img15.hostingpics.net/pics/565380logoogcnice.png" alt="Logo de l'OGC Nice" height="125" width="100">  <span class="glyphicon glyphicon-minus"></span>  
      <img src="http://img15.hostingpics.net/pics/406939logotoulousefc.png" alt="Logo du Toulouse FC" height="125" width="125"></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Toulouse</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">3.15</button>  <button type="button" class="btn btn-xs btn-warning active">3.80</button> <button type="button" class="btn btn-xs btn-success active">1.15</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">8.00</button> <button type="button" class="btn btn-xs btn-warning active">4.00</button> <button type="button" class="btn btn-xs btn-success active">1.33</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">8.10</button> <button type="button" class="btn btn-xs btn-warning active">4.40</button> <button type="button" class="btn btn-xs btn-success active">1.37</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">8.05</button> <button type="button" class="btn btn-xs btn-warning active">4.35</button> <button type="button" class="btn btn-xs btn-success active">1.36</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">7.00</button> <button type="button" class="btn btn-xs btn-warning active">4.10</button> <button type="button" class="btn btn-xs btn-success active">1.34</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Séries : 3 défaites et 1 nul pour Nice, contre 1 défaite, 2 nuls et 2 victoires pour Toulouse. Les Toulousains sont bons à l'extérieur et ont tendance à bien commencer leurs saisons : ils peuvent arracher la victoire.</p>
  </div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous avez pensé à mettre un cierge en l'honneur de Saint-Dominique de Guzman, un nul à la mi-temps est tout à fait envisageable pour les joueurs de combinés.</p>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-warning active">1.85</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax :  <button type="button" class="btn btn-xs btn-warning active">1.92</button></p> </div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet :  <button type="button" class="btn btn-xs btn-warning active">1.87</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-warning active">1.85</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-warning active">1.80</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-warning active">1.85</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-warning active">1.91</button> </p></div>


      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">1</button> <button type="button" class="btn btn-xs btn-success active">2</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Nice</button> <button type="button" class="btn btn-xs btn-warning active">Toulouse</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">-2.5 buts</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Nice</button> <button type="button" class="btn btn-xs btn-success active">Toulouse</button></p></div>

    </div>
  </div>
</div><br>

</body>
</html>