 <html>
 <head>

  <title>Pronosticao - Pronostics pour Montpellier-Metz</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Montpellier-Metz de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 20h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_Montpellier.png", :alt => "Logo du Hérault Montpellier") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_metz.png", :alt => "Logo de Metz") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Match nul</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">1.80</button> <button type="button" class="btn btn-xs btn-warning active">3.35</button> <button type="button" class="btn btn-xs btn-danger active">4.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">1.75</button> <button type="button" class="btn btn-xs btn-warning active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">4.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">1.82</button> <button type="button" class="btn btn-xs btn-warning active">3.41</button> <button type="button" class="btn btn-xs btn-danger active">4.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">1.81</button> <button type="button" class="btn btn-xs btn-warning active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">4.70</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">1.73</button> <button type="button" class="btn btn-xs btn-warning active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">4.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">1.78</button> <button type="button" class="btn btn-xs btn-warning active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">4.40</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">1.73</button> <button type="button" class="btn btn-xs btn-warning active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">4.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">1.80</button> <button type="button" class="btn btn-xs btn-warning active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">4.25</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Montpellier a fait preuve de réalisme face à Marseille, mais ils risquent de perdre Stambouli, et en face Metz a montré qu'ils savaient se défendre.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
   <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator" href="http://www.wincomparator.com/fr-fr/pronostic/football/ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Montpellier</button> <button type="button" class="btn btn-xs btn-warning active">Metz</button></p></div></a>

    <a title="SportyTrader" href="http://www.sportytrader.com/pronostic-ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Montpellier</button> <button type="button" class="btn btn-xs btn-danger active">Metz</button></p></div></a>

    <a title="Sport4Tune Montpellier-Metz" href="http://www.sport4tune.com/fr_pronostic-montpellier-metz.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">1</button> <button type="button" class="btn btn-xs btn-warning active">1</button></p></div></a>

    <a title="Coteur Montpellier-Metz" href="http://www.coteur.com/match/montpellier-metz-rid631680.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Montpellier</button> <button type="button" class="btn btn-xs btn-danger active">Metz</button></p></div></a>

    <a title="foot-pronostic Montpellier-Metz" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-5.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Montpellier</button> <button type="button" class="btn btn-xs btn-danger active">Metz</button></p></div></a>

    <a title="Qui parier ?" href="http://www.quiparier.com/football-pronostics-2014-08-23.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Montpellier</button> <button type="button" class="btn btn-xs btn-danger active">Metz</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Bastia-Toulouse" href="match6"><span class="glyphicon glyphicon-chevron-left"></span> Bastia-Toulouse</a>
      <a type="button" class="btn btn-info active" title= "Lyon-Lens" href="#" disabled="disabled">Lyon-Lens <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>