<html>
 <head>

  <title>Pronosticao - Pronostics pour ASSE-Rennes</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Saint-Etienne-Rennes de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>24 août 17h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_asse.png", :alt => "Logo de l'AS Saint-Etienne") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_stade_rennais.png", :alt => "Logo du Stade rennais") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Rennes</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-success active">1.75</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">4.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">1.75</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">4.40</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.80</button> <button type="button" class="btn btn-xs btn-danger active">3.50</button> <button type="button" class="btn btn-xs btn-danger active">4.95</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.79</button> <button type="button" class="btn btn-xs btn-danger active">3.55</button> <button type="button" class="btn btn-xs btn-danger active">4.91</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.72</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">4.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.76</button> <button type="button" class="btn btn-xs btn-danger active">3.05</button> <button type="button" class="btn btn-xs btn-danger active">4.90</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.72</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">4.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">1.78</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">4.75</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Les deux équipes ont réalisé une prestation médiocre pour leur entrée en matière, mais Rennes se différencie par un meilleur effectif et a l'avantage de jouer à domicile.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Rennes</button> <button type="button" class="btn btn-xs btn-danger active">Evian</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">1</button> <button type="button" class="btn btn-xs btn-success active">2</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Lyon-Lens" href="match8"><span class="glyphicon glyphicon-chevron-left"></span> Lyon-Lens</a>
      <a type="button" class="btn btn-info active" title= "Nantes-Monaco" href="match10">Nantes-Monaco <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>


</body>
</html>