 <html>
 <head>

  <title>Pronosticao - Pronostics pour Lille-Lorient</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match LOSC-Lorient de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 20h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_du_losc.png", :alt => "Logo du LOSC") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_lorient.png", :alt => "Logo du FC Lorient") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Match nul</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">1.75</button>  <button type="button" class="btn btn-xs btn-warning active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">4.80</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">1.75</button> <button type="button" class="btn btn-xs btn-warning active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">4.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">1.80</button> <button type="button" class="btn btn-xs btn-warning active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">5.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">1.76</button> <button type="button" class="btn btn-xs btn-warning active">3.55</button> <button type="button" class="btn btn-xs btn-danger active">5.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">1.67</button> <button type="button" class="btn btn-xs btn-warning active">3.30</button> <button type="button" class="btn btn-xs btn-danger active">4.80</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">1.62</button> <button type="button" class="btn btn-xs btn-warning active">3.50</button> <button type="button" class="btn btn-xs btn-danger active">5.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">1.67</button> <button type="button" class="btn btn-xs btn-warning active">3.30</button> <button type="button" class="btn btn-xs btn-danger active">4.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">1.72</button> <button type="button" class="btn btn-xs btn-warning active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">4.75</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">La situation de Lille est compliquée. En manque de liquidité, ils vont devoir mettre les moyens face à Porto pour obtenir les droits TV de la Champions League... Ca leur fait trois matchs en huit jours, et des prestations très moyennes face à Caen et Metz, deux promus. En face, si Lorient a un beau jeu, Aboubakar risque de partir et Ayew n'est pas encore bien intégré.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator" href="http://www.wincomparator.com/fr-fr/pronostic/football/ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lille</button> <button type="button" class="btn btn-xs btn-danger active">Lorient</button></p></div></a>

    <a title="Sport4Tune Lille-Lorient" html="http://www.sport4tune.com/fr_pronostic-lille-lorient.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">1</button> <button type="button" class="btn btn-xs btn-warning active">1</button></p></div></a>

    <a title="SOSPronostics Lille-Lorient" href="http://www.sospronostics.com/ligue1.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Lille</button> <button type="button" class="btn btn-xs btn-warning active">Lorient</button></p></div></a>

    <a title="Coteur Lille-Lorient" href="http://www.coteur.com/pronostic/france-ligue-1-prid3.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lille</button> <button type="button" class="btn btn-xs btn-danger active">Lorient</button></p></div></a>

    <a title="foot-pronostic Lille-Lorient" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-4.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lille</button> <button type="button" class="btn btn-xs btn-danger active">Lorient</button></p></div></a>

    <a title="Qui parier ? Lille-Lorient" href="http://www.quiparier.com/football-pronostics-2014-08-23.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lille</button> <button type="button" class="btn btn-xs btn-danger active">Lorient</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Rennes-Evian" href="match4"><span class="glyphicon glyphicon-chevron-left"></span> Nice-Bordeaux</a>
      <a type="button" class="btn btn-info active" title= "Marseille-Montpellier" href="match6">Bastia-Toulouse <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>