 <html>
 <head>
  <title>Pronosticão - Pronostics pour Reims-PSG</title>
  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Reims-PSG de la 1e journée de Ligue 1." />
</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>9 août 21h00</h1>
  </div>

  <div class="panel-body">
  	<div class="media">
	    <p><img src="http://img15.hostingpics.net/pics/770372logostadedereims.png" alt="Logo du Stade de Reims" height="125" width="125">  <span class="glyphicon glyphicon-minus"></span>  
      <img src="http://img15.hostingpics.net/pics/174489logoparissaintgermain.png" alt="Logo du Paris Saint-Germain" height="125" width="125"></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire du PSG</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">8.00</button> <button type="button" class="btn btn-xs btn-warning active">4.00</button> <button type="button" class="btn btn-xs btn-success active">1.33</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">8.10</button> <button type="button" class="btn btn-xs btn-warning active">4.40</button> <button type="button" class="btn btn-xs btn-success active">1.37</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">8.05</button> <button type="button" class="btn btn-xs btn-warning active">4.35</button> <button type="button" class="btn btn-xs btn-success active">1.36</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">7.00</button> <button type="button" class="btn btn-xs btn-warning active">4.10</button> <button type="button" class="btn btn-xs btn-success active">1.34</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">De plus en plus brillant au fil des saisons, le PSG devrait logiquement survoler la Ligue 1 cette année. Pour autant, les débuts de saison n'on pas été excellents les années précédentes, donnant lieu à des matchs nuls. On peut quand même attendre une victoire dès le premier match contre une équipe de Reims largement abordable puisqu'ils l'ont battue 3-0 à deux reprises l'année dernière.</U></p>
  </div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous avez pensé à mettre un cierge en l'honneur de Saint-Dominique de Guzman, un <b>match nul</b> est envisageable, surtout en début de saison quand les équipes mettent du temps avant de jouer leur plus grand football.</p>
</div><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Reims</button> <button type="button" class="btn btn-xs btn-success active">Paris</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Reims</button> <button type="button" class="btn btn-xs btn-success active">Paris</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">1</button> <button type="button" class="btn btn-xs btn-success active">2</button></p></div>

     <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Reims</button> <button type="button" class="btn btn-xs btn-success active">Paris</button></p></div>


    </div>
  </div>
</div><br>

</body>
</html>