 <html>
 <head>

  <title>Pronosticao - Pronostics pour Paris-Saint-Etienne</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match PSG-ASSE de la 4e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>24 août 21h</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_paris_saint_germain.png", :alt => "Logo Paris Saint-Germain") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_asse.png", :alt => "Logo de l'AS Saint-Etienne") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Match nul</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">1.50</button> <button type="button" class="btn btn-xs btn-warning active">3.90</button> <button type="button" class="btn btn-xs btn-danger active">6.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">1.48</button> <button type="button" class="btn btn-xs btn-warning active">3.75</button> <button type="button" class="btn btn-xs btn-danger active">6.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">1.54</button> <button type="button" class="btn btn-xs btn-warning active">4.16</button> <button type="button" class="btn btn-xs btn-danger active">7.20</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">1.53</button> <button type="button" class="btn btn-xs btn-warning active">4.15</button> <button type="button" class="btn btn-xs btn-danger active">7.15</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">1.50</button> <button type="button" class="btn btn-xs btn-warning active">3.70</button> <button type="button" class="btn btn-xs btn-danger active">6.25</button></p></div>

         <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">1.50</button> <button type="button" class="btn btn-xs btn-warning active">3.50</button> <button type="button" class="btn btn-xs btn-danger active">6.25</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Paris sans Ibra, c'est généralement compliqué, et Sainté est la bête noire de Paris aux vues des dernières confrontations, capable cette saison de très belles choses. Mais le match risque d'être fermé, les stéphanois ayant un match d'Europa dans les pattes, et ne viendront probablement dans la seule optique de ne pas perdre de points. Ruffier montrera sûrement qu'il est bien l'un des meilleurs gardiens de France, et il est possible qu'on n'assiste à aucun but.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator PSG-ASSE" href="http://www.wincomparator.com/fr-fr/pronostic/pronostics-match/psg-saint-etienne.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Saint-Etienne</button></p></div></a>

    <a title="SportyTrader PSG-ASSE" href="http://www.sportytrader.com/pronostic-psg-saint_etienne-32690.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Saint-Etienne</button></p></div></a>

    <a title="Sport4Tune PSG-ASSE" href="http://www.sport4tune.com/fr_pronostic-paris-st-germain-saint-etienne.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div></a>

    <a title="Coteur PSG-ASSE" href="http://www.coteur.com/match/psg-st-etienne-rid640272.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Paris</button> <button type="button" class="btn btn-xs btn-warning active">Saint-Etienne</button></p></div></a>

    <a title="foot-pronostic PSG-ASSE" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-10.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Saint-Etienne</button></p></div></a>

    <a title="Qui parier ? PSG-ASSE" href="http://www.quiparier.com/football-paris-sg-saint-etienne-772651.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Saint-Etienne</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Metz-Lyon" href="match9"><span class="glyphicon glyphicon-chevron-left"></span> Metz-Lyon</a>
</div>

<br><br>

</body>
</html>