 <html>
 <head>

  <title>Pronosticao - Pronostics pour Saint-Etienne-Reims</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match ASSE-Reims de la 1e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>17 août 17h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_asse.png", :alt => "Logo de l'AS Saint-Etienne") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_stade_de_reims.png", :alt => "Logo du Stade de Reims") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de l'ASSE</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-success active">1.50</button>  <button type="button" class="btn btn-xs btn-danger active">3.80</button> <button type="button" class="btn btn-xs btn-danger active">7.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">1.42</button> <button type="button" class="btn btn-xs btn-danger active">3.90</button> <button type="button" class="btn btn-xs btn-danger active">7.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.55</button> <button type="button" class="btn btn-xs btn-danger active">3.90</button> <button type="button" class="btn btn-xs btn-danger active">7.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.54</button> <button type="button" class="btn btn-xs btn-danger active">3.92</button> <button type="button" class="btn btn-xs btn-danger active">7.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.47</button> <button type="button" class="btn btn-xs btn-danger active">3.50</button> <button type="button" class="btn btn-xs btn-danger active">6.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.52</button> <button type="button" class="btn btn-xs btn-danger active">3.50</button> <button type="button" class="btn btn-xs btn-danger active">7.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.47</button> <button type="button" class="btn btn-xs btn-danger active">3.50</button> <button type="button" class="btn btn-xs btn-danger active">6.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">1.53</button> <button type="button" class="btn btn-xs btn-danger active">3.50</button> <button type="button" class="btn btn-xs btn-danger active">6.50</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Si Reims a l'habitude de malmener les grandes équipes de Ligue 1, il n'est pas impossible qu'ils aient pris la grosse tête et leur entraîneur est peu expérimenté. A l'inverse, Saint-Etienne est une équipe expérimentée qui sait tenir son match et peut prétendre au podium cette année, ayant en plus réalisé un bon mercato. Un nul à la mi-temps est envisageable</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
<div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">ASSE + Aubameyang</button></p></div>

    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des Joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Saint-Etienne</button> <button type="button" class="btn btn-xs btn-danger active">Reims</button></p></div>

    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Saint-Etienne</button> <button type="button" class="btn btn-xs btn-danger active">Reims</button></p></div>

    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Saint-Etienne</button> <button type="button" class="btn btn-xs btn-danger active">Reims</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Rennes-Evian" href="match9"><span class="glyphicon glyphicon-chevron-left"></span> Rennes-Evian</a>
      <a type="button" class="btn btn-info active" title= "Marseille-Montpellier" href="match6">Marseille-Montpellier <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>