 <html>
 <head>
  <title>Pronosticão - Pronostics pour Lyon-Rennes</title>
  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match OL-Stade Rennais de la 1e journée de Ligue 1." />
</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>10 août 17h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><img src="http://img15.hostingpics.net/pics/257538logoolympiquelyonnais.png" alt="Lyon" height="125" width="107">  <span class="glyphicon glyphicon-minus"></span>  
      <img src="http://img15.hostingpics.net/pics/119860logostaderennais.png" alt="Lorient" height="125" width="103"></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Lyon</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">1.70</button> <button type="button" class="btn btn-xs btn-danger active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">4.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.80</button> <button type="button" class="btn btn-xs btn-danger active">3.30</button> <button type="button" class="btn btn-xs btn-danger active">4.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.84</button> <button type="button" class="btn btn-xs btn-danger active">3.41</button> <button type="button" class="btn btn-xs btn-danger active">4.65</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.75</button> <button type="button" class="btn btn-xs btn-danger active">3.15</button> <button type="button" class="btn btn-xs btn-danger active">4.40</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.72</button> <button type="button" class="btn btn-xs btn-danger active">3.15</button> <button type="button" class="btn btn-xs btn-danger active">4.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.75</button> <button type="button" class="btn btn-xs btn-danger active">3.15</button> <button type="button" class="btn btn-xs btn-danger active">4.40</button></p></div>

         <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">1.83</button> <button type="button" class="btn btn-xs btn-danger active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">4.00</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Rennes a fait un bon mercato, mais on attend beaucoup de Lyon, surtout avec un début à domicile. Après une première moitié de saison mitigée l'année dernière et beaucoup de blessés, l'Olympique lyonnais a fait une bonne fin de saison et mené un combat acharné en Ligue Europa, grâce à des jeunes talentueux. Lyon va vouloir s'imposer pour avoir sa place sur le podium cette saison, et ça commence dès le premier match.</p>
  </div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous avez pensé à mettre un cierge en l'honneur de Saint-Dominique de Guzman, un <b>2-0 pour Lyon</b> peut se tenter, ou <b>handicap</b> pour les joueurs de combiné.</p>
</div><br>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">7.25</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax :  <button type="button" class="btn btn-xs btn-success active">7.40</button></p> </div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet :  <button type="button" class="btn btn-xs btn-success active">6.40</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">6.25</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">7.00</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">6.25</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">7.00</button> </p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
 <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lyon</button> <button type="button" class="btn btn-xs btn-danger active">Rennes</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lyon</button> <button type="button" class="btn btn-xs btn-danger active">Rennes</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">1</button> <button type="button" class="btn btn-xs btn-danger active">0</button></p></div>

    </div>
  </div>
</div><br>

</body>
</html>