 <html>
 <head>

  <title>Pronosticao - Pronostics pour Reims-Caen</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Reims-Caen de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>
<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 20h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_stade_de_reims.png", :alt => "Logo du Stade de Reims") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_caen.png", :alt => "Logo du Stade Malherbe de Caen") %></p>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Lorient</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-success active">1.80</button> <button type="button" class="btn btn-xs btn-danger active">3.30</button> <button type="button" class="btn btn-xs btn-danger active">4.70</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">BetClic : <button type="button" class="btn btn-xs btn-success active">1.70</button> <button type="button" class="btn btn-xs btn-danger active">3.30</button> <button type="button" class="btn btn-xs btn-danger active">4.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.84</button> <button type="button" class="btn btn-xs btn-danger active">3.35</button> <button type="button" class="btn btn-xs btn-danger active">4.90</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.85</button> <button type="button" class="btn btn-xs btn-danger active">3.35</button> <button type="button" class="btn btn-xs btn-danger active">4.85</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.72</button> <button type="button" class="btn btn-xs btn-danger active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">4.70</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.74</button> <button type="button" class="btn btn-xs btn-danger active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">4.80</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.72</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">4.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">1.83</button> <button type="button" class="btn btn-xs btn-danger active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">4.25</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">Nice risque d'être efficace en défense, mais ils ont perdu Ospina et Cvitanich, qui avait fait un gros match, est blessé. Lorient a fait un grand match, et Aboubakar, malgré les rumeurs d'offres d'achat, devrait faire partie de la feuille de match. Lorient aura de plus un avantage en jouant à domicile, sur un terrain syntétique que ses adversaires vont devoir aprivoiser.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Caen</button> <button type="button" class="btn btn-xs btn-warning active">Lille</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Caen</button> <button type="button" class="btn btn-xs btn-warning active">Lille</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">0</button> <button type="button" class="btn btn-xs btn-success active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des Joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">-2,5 buts</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">XPronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Best Paris Sportifs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Metz-Nantes" href="match2"><span class="glyphicon glyphicon-chevron-left"></span> Guingamp-Marseille</a>
      <a type="button" class="btn btn-info active" title= "Lens-Guingamp" href="match4">Nice-Bordeaux <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


  <br><br>

</body>
</html>