 <html>
 <head>

  <title>Pronosticão - Pronostics pour Monaco-Lorient</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Monaco-Lorient de la 1e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>10 août 21h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_monaco.png", :alt => "Logo de l'AS Monaco") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_lorient.png", :alt => "Logo du FC Lorient") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Monaco</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">1.33</button> <button type="button" class="btn btn-xs btn-danger active">4.15</button> <button type="button" class="btn btn-xs btn-danger active">8.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.35</button> <button type="button" class="btn btn-xs btn-danger active">4.60</button> <button type="button" class="btn btn-xs btn-danger active">8.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.35</button> <button type="button" class="btn btn-xs btn-danger active">4.65</button> <button type="button" class="btn btn-xs btn-danger active">9.10</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.35</button> <button type="button" class="btn btn-xs btn-danger active">4.40</button> <button type="button" class="btn btn-xs btn-danger active">8.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.32</button> <button type="button" class="btn btn-xs btn-danger active">4.10</button> <button type="button" class="btn btn-xs btn-danger active">8.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.30</button> <button type="button" class="btn btn-xs btn-danger active">4.40</button> <button type="button" class="btn btn-xs btn-danger active">8.50</button></p></div>

         <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">1.30</button> <button type="button" class="btn btn-xs btn-danger active">4.60</button> <button type="button" class="btn btn-xs btn-danger active">8.25</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Même si on penche facilement pour Monaco, il est dur de se prononcer quand on ne connaît toujours pas le remplaçant de James Rodriguez, parti au Real. De plus Falcao ne jouera forcément dès le premier match. Reste un excellent Berbatov et quelques jours pour attendre une arrivée surprise. Quoi qu'il en soit, Monaco devrait avoir les armes pour s'imposer sur le rocher.</p>
  </div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous avez pensé à mettre un cierge en l'honneur de Saint-Dominique de Guzman, un <b>2-0 pour Monaco</b> est envisageable.</p>
</div><br>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">6.00</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax :  <button type="button" class="btn btn-xs btn-success active">5.50</button></p> </div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet :  <button type="button" class="btn btn-xs btn-success active">5.10</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">5.60</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">4.75</button> </p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
 <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Monaco</button> <button type="button" class="btn btn-xs btn-danger active">Lorient</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Monaco</button> <button type="button" class="btn btn-xs btn-danger active">Lorient</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Monaco</button> <button type="button" class="btn btn-xs btn-danger active">Lorient</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
  <a class="container-fluid" title="Bastia-Marseille" href="match10">

        <button type="button" class="btn btn-info active"><span class="glyphicon glyphicon-chevron-left"></span> Lyon-Rennes</button>

  </a>
</div>

  <br><br>

</body>
</html>