 <html>
 <head>

  <title>Pronosticao - Pronostics pour Reims-Caen</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Reims-Caen de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>
<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 20h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_stade_de_reims.png", :alt => "Logo du Stade de Reims") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_caen.png", :alt => "Logo du Stade Malherbe de Caen") %></p>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Reims</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-success active">2.40</button> <button type="button" class="btn btn-xs btn-danger active">3.15</button> <button type="button" class="btn btn-xs btn-danger active">2.95</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">BetClic : <button type="button" class="btn btn-xs btn-success active">2.40</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-danger active">2.90</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">2.46</button> <button type="button" class="btn btn-xs btn-danger active">3.26</button> <button type="button" class="btn btn-xs btn-danger active">2.98</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">2.46</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">2.96</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">2.30</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">2.85</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">2.30</button> <button type="button" class="btn btn-xs btn-danger active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">2.80</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">2.30</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">2.85</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">2.45</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-danger active">2.80</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">Match très ouvert, mais Reims joue à domicile, avec une équipe expérimentée, tandis que la perte de Duhamel risque de jouer fortement en défaveur de Caen.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator" href="http://www.wincomparator.com/fr-fr/pronostic/football/ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Reims</button> <button type="button" class="btn btn-xs btn-warning active">Caen</button></p></div></a>

    <a title="SportyTrader" href="http://www.sportytrader.com/pronostic-ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Reims</button> <button type="button" class="btn btn-xs btn-warning active">Caen</button></p></div></a>

    <a title="Sport4Tune Reims-Caen" href="http://www.sport4tune.com/fr_pronostic-reims-caen.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">2</button> <button type="button" class="btn btn-xs btn-warning active">2</button></p></div></a>

    <a title="Rue des Joueurs Reims-Caen" href="http://www.ruedesjoueurs.com/pronostic/reims-caen-1709725.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des Joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Reims</button> <button type="button" class="btn btn-xs btn-warning active">Caen</button></p></div></a>

    <a title="Coteur Reims-Caen" href="http://www.coteur.com/match/reims-caen-rid631682.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Reims</button> <button type="button" class="btn btn-xs btn-danger active">Caen</button></p></div></a>

    <a title="foot-pronostic Reims-Caen" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-7.html"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Reims</button> <button type="button" class="btn btn-xs btn-danger active">Caen</button></p></div></a>

    <a title="Qui Parier?" href="http://www.quiparier.com/football-pronostics-2014-08-23.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Reims</button> <button type="button" class="btn btn-xs btn-danger active">Caen</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Metz-Nantes" href="match2"><span class="glyphicon glyphicon-chevron-left"></span> Guingamp-Marseille</a>
      <a type="button" class="btn btn-info active" title= "Lens-Guingamp" href="match4">Nice-Bordeaux <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


  <br><br>

</body>
</html>