 <html>
 <head>
  <title>Pronosticão - Pronostics pour Guingamp-Saint-Etienne</title>
  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match ASSE-Guingamp de la 1e journée de Ligue 1." />
</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>9 août 21h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><img src="http://img15.hostingpics.net/pics/390114logoenavantdeguingamp.png" alt="Logo de l'En Avant de Guingamp" height="125" width="212">  <span class="glyphicon glyphicon-minus"></span>  
      <img src="http://img15.hostingpics.net/pics/558242logoasse.png" alt="Logo de l'ASSE" height="125" width="91"></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de l'ASSE</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">2.90</button> <button type="button" class="btn btn-xs btn-success active">2.20</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">3.15</button> <button type="button" class="btn btn-xs btn-danger active">3.05</button> <button type="button" class="btn btn-xs btn-success active">2.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">3.26</button> <button type="button" class="btn btn-xs btn-danger active">3.11</button> <button type="button" class="btn btn-xs btn-success active">2.27</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">3.05</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-success active">2.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">2.90</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-success active">2.20</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">3.05</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-success active">2.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-success active">2.20</button></p></div>
      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Malgré le départ de Brandao, l'ASSE a effectué une belle saison l'année dernière et peut s'imposer en Bretagne pour son premier match, face à une équipe de Guingamp qui s'est inclinée 2-0 face au PSG en finale du Trophée des Champions.</p>
  </div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous avez pensé à mettre un cierge en l'honneur de Saint-Dominique de Guzman, un nul à la mi-temps peut constituer une valeur quasi-sûre pour les joueurs de combinés.</p>
</div><br>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-warning active">1.85</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax :  <button type="button" class="btn btn-xs btn-warning active">1.94</button></p> </div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet :  <button type="button" class="btn btn-xs btn-warning active">1.88</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-warning active">1.85</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-warning active">1.80</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-warning active">1.85</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-warning active">1.91</button> </p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Guingamp</button> <button type="button" class="btn btn-xs btn-warning active">Saint-Etienne</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">0</button> <button type="button" class="btn btn-xs btn-success active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Guingamp</button> <button type="button" class="btn btn-xs btn-warning active">Saint-Etienne</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Saint-Etienne marque</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button> <button type="button" class="btn btn-xs btn-success active">Saint-Etienne</button></p></div>

    </div>
  </div>
</div><br>

</body>
</html>