 <html>
 <head>

  <title>Pronosticao - Pronostics pour Toulouse-Evian</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Toulouse-Evian de la 4e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 20h</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_toulouse_fc.png", :alt => "Logo du Toulouse FC") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_evian_thonon_gaillard.png", :alt => "Logo d'Evian Thonon Gaillard") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Toulouse</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">1.77</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">4.65</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.75</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">4.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.82</button> <button type="button" class="btn btn-xs btn-danger active">3.57</button> <button type="button" class="btn btn-xs btn-danger active">4.85</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.81</button> <button type="button" class="btn btn-xs btn-danger active">3.56</button> <button type="button" class="btn btn-xs btn-danger active">4.81</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.75</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">4.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.80</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">4.20</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">1.80</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">3.90</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Suite à l'accrochage de Paris face à Evian, les grandes équipes de L1 vont arrêter de prendre les Savoyards à la légère. Et Toulouse montre de très belles choses avec un Ben Yedder formidable qui mériterait sa place chez les Bleus. Avec en plus l'avantage de jouer à domicile. </p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator Toulouse-Evian" href="http://www.wincomparator.com/fr-fr/pronostic/pronostics-match/toulouse-evian-2014-08-30.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Toulouse</button> <button type="button" class="btn btn-xs btn-danger active">Evian</button></p></div></a>

    <a title="Sport4Tune Toulouse-Evian" href="http://www.sport4tune.com/fr_pronostic-toulouse-evian.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div></a>

    <a title="SportyTrader Toulouse-Evian" href="http://www.sportytrader.com/pronostic-toulouse-evian-32656.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Toulouse</button> <button type="button" class="btn btn-xs btn-danger active">Evian</button></p></div></a>

    <a title="SOSPronostics" href="http://www.sospronostics.com/ligue1.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Toulouse</button> <button type="button" class="btn btn-xs btn-danger active">Evian</button></p></div></a>

   <a title="Coteur Toulouse-Evian" href="http://www.coteur.com/match/toulouse-fc-evian-tg-fc-rid636029.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Toulouse</button> <button type="button" class="btn btn-xs btn-danger active">Evian</button></p></div></a>

    <a title="foot-pronostic Toulouse-Evian" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-7.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Toulouse</button> <button type="button" class="btn btn-xs btn-danger active">Evian</button></p></div></a>

    <a title="Qui Parier ? Toulouse-Evian" href="http://www.quiparier.com/football-toulouse-evian-thonon-g-772653.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Toulouse</button> <button type="button" class="btn btn-xs btn-danger active">Evian</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Lorient-EAG" href="match5"><span class="glyphicon glyphicon-chevron-left"></span> Lorient-Guingamp</a>
      <a type="button" class="btn btn-info active" title= "Lens-Reims" href="match7">Lens-Reims <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>