 <html>
 <head>

  <title>Pronosticao - Pronostics pour Guingamp-Marseille</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Guingamp-OM de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 17h00</h1>
  </div>

  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_en_avant_de_guingamp.png", :alt => "Logo de l'En Avant de Guingamp") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_olympique_de_marseille.png", :alt => "Logo de l'Olympique de Marseille") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Match nul</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">2.95</button> <button type="button" class="btn btn-xs btn-warning active">3.15</button> <button type="button" class="btn btn-xs btn-danger active">2.40</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-warning active">3.00</button> <button type="button" class="btn btn-xs btn-danger active">2.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">3.15</button> <button type="button" class="btn btn-xs btn-warning active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">2.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">3.11</button> <button type="button" class="btn btn-xs btn-warning active">3.26</button> <button type="button" class="btn btn-xs btn-danger active">2.36</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">2.90</button> <button type="button" class="btn btn-xs btn-warning active">3.05</button> <button type="button" class="btn btn-xs btn-danger active">2.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">2.95</button> <button type="button" class="btn btn-xs btn-warning active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">2.20</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">2.90</button> <button type="button" class="btn btn-xs btn-warning active">3.05</button> <button type="button" class="btn btn-xs btn-danger active">2.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">2.95</button> <button type="button" class="btn btn-xs btn-warning active">2.95</button> <button type="button" class="btn btn-xs btn-danger active">2.40</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Guingamp n'aura probalement pas une grande possession de balle et devrait se limiter à jouer en contre, mais Marseille a manqué de réalisme contre Montpellier. Malgré un grand talent offensif, le système de Bielsa ne fonctionne pas et on ne sent pas de cohérence entre les joueurs, tandis que le bon collectif guingampais devrait pouvoir maîtriser les attaques marseillaises.</U></p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator" href="http://www.wincomparator.com/fr-fr/pronostic/football/ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button> <button type="button" class="btn btn-xs btn-success active">Marseille</button></p></div></a>

    <a title="SportyTrader" href="http://www.sportytrader.com/pronostic-ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Guingamp</button> <button type="button" class="btn btn-xs btn-danger active">Marseille</button></p></div></a>

    <a title="Sport4Tune Guingamp-OM" href="http://www.sport4tune.com/fr_pronostic-guingamp-marseille.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div></a>

    <a title="SOSPronostics" href="http://www.sospronostics.com/ligue1.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div></a>

    <a title="Coteur Guingamp-OM" href="http://www.coteur.com/match/guingamp-marseille-rid631684.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button> <button type="button" class="btn btn-xs btn-success active">Marseille</button></p></div></a>

    <a title="foot-pronostic Guingamp-OM" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-2.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Guingamp</button> <button type="button" class="btn btn-xs btn-warning active">Marseille</button></p></div></a>

    <a title="Qui parier ? Guingamp-Marseille" href="http://www.quiparier.com/football-guingamp-marseille-767096.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button> <button type="button" class="btn btn-xs btn-success active">Marseille</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">

        <a type="button" class="btn btn-info active" title="Caen-Lille" href="match1"><span class="glyphicon glyphicon-chevron-left"></span> Evian-PSG</button> 
         <a type="button" class="btn btn-info active" disabled="disabled" title= "Toulouse-OL" href="match3">Reims-Caen <span class="glyphicon glyphicon-chevron-right"></span></a>

  </a>
</div>

  <br><br>



</body>
</html>