<br><br><br><br><br>
<div class="panel panel-default">
  <div class="panel-heading">
  	<h4>2 août 14h00</h4>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><img src="http://img15.hostingpics.net/pics/245369psg.png" class="img-responsive" alt="PSG" height="125" width="125">  <span class="glyphicon glyphicon-minus"></span>  
      <img src="http://img15.hostingpics.net/pics/780346guingamp.png" class="img-responsive" alt="Guingamp" height="125" width="195"></p>
  	</div>
  </div>
  <div class="jumbotron"> 
  <p class="text-center">Notre pronosticão : <b>Victoire du PSG.</b></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-success active">1.32</button>  <button type="button" class="btn btn-xs btn-danger active">4.50</button> <button type="button" class="btn btn-xs btn-danger active">7.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">1.33</button> <button type="button" class="btn btn-xs btn-danger active">4.25</button> <button type="button" class="btn btn-xs btn-danger active">8.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.38</button> <button type="button" class="btn btn-xs btn-danger active">5.00</button> <button type="button" class="btn btn-xs btn-danger active">8.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.37</button> <button type="button" class="btn btn-xs btn-danger active">5.05</button> <button type="button" class="btn btn-xs btn-danger active">8.05</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.30</button> <button type="button" class="btn btn-xs btn-danger active">4.50</button> <button type="button" class="btn btn-xs btn-danger active">8.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.36</button> <button type="button" class="btn btn-xs btn-danger active">4.40</button> <button type="button" class="btn btn-xs btn-danger active">7.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.30</button> <button type="button" class="btn btn-xs btn-danger active">4.50</button> <button type="button" class="btn btn-xs btn-danger active">8.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">1.23</button> <button type="button" class="btn btn-xs btn-danger active">5.00</button> <button type="button" class="btn btn-xs btn-danger active">7.25</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">Même si l'équipe n'est pas encore au complet, le PSG peut compter sur Ibrahimovic, auteur d'un triplé au dernier match, Cavani qui a fini son entraînement, mais aussi sur Bahebeck et Onganda qui ont prouvé qu'ils pouvaient être des atouts décisifs. Il est peu probable que Guingamp arrache un miracle fasse à l'artillerie parisienne.</p>
  </div>
</div><br>

<div class="jumbotron"> 
 <p class="text-align"><b>Panenka</b> : si vous êtes d'humeur à prendre un peu plus de risque, un <b>3-1 pour Paris</b> est envisageable. Bien que le club soit prolifique, il a encaissé 10 buts sur les 5 derniers matchs.</p>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-success active">8.50</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">10.50</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax :  <button type="button" class="btn btn-xs btn-success active">11.00</button></p> </div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet :  <button type="button" class="btn btn-xs btn-success active">9.50</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">9.50</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">10.00</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">9.50</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">9.50</button> </p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>

  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SosPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Cotematchs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur.com <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">BeatZeBook <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>


    </div>
  </div>
</div><br>
