 <html>
 <head>

  <title>Pronosticao - Pronostics pour Nice-Bordeaux</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Nice-Bordeaux de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 20h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_ogc_nice.png", :alt => "Logo de l'OGC Nice") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_bordeaux.png", :alt => "Logo des Girondins de Bordeaux") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Bordeaux</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-success active">2.40</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-success active">2.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">3.22</button> <button type="button" class="btn btn-xs btn-danger active">3.12</button> <button type="button" class="btn btn-xs btn-success active">2.42</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">3.21</button> <button type="button" class="btn btn-xs btn-danger active">3.11</button> <button type="button" class="btn btn-xs btn-success active">2.41</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">2.95</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-success active">2.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">2.95</button> <button type="button" class="btn btn-xs btn-danger active">3.05</button> <button type="button" class="btn btn-xs btn-success active">2.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">2.95</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-success active">2.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">2.90</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-success active">2.40</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">Peut-on vraiment pronostiquer une troisième victoire des Girondins ? Les deux équipes ont montré peu de possession de balle lors des précédents matchs, mais Bordeaux fait preuve jusque-là d'un réalisme étonnant. D'autant qu'a priori (à confirmer sur la feuille de match) l'attaquant vedette de Nice devrait toujours être absent.</p>
  </div>
</div><br>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>
  
   <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator" href="http://www.wincomparator.com/fr-fr/pronostic/football/ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Nice</button> <button type="button" class="btn btn-xs btn-warning active">Bordeaux</button></p></div></a>

    <a title="Sport4Tune Nice-Bordeaux" href="http://www.sport4tune.com/fr_pronostic-nice-bordeaux.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">1</button> <button type="button" class="btn btn-xs btn-danger active">0</button></p></div></a>

    <a title="SOSPronostics" href="http://www.sospronostics.com/ligue1.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Nice</button> <button type="button" class="btn btn-xs btn-success active">Bordeaux</button></p></div></a>

    <a title"Coteur Nice-Bordeaux" href="http://www.coteur.com/match/nice-bordeaux-rid631681.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Nice</button> <button type="button" class="btn btn-xs btn-warning active">Bordeaux</button></p></div></a>
    
    <a title="foot-pronostic Nice-Bordeaux" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-6.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Nice</button> <button type="button" class="btn btn-xs btn-warning< active">Bordeaux</button></p></div></a>

    <a title="Qui parier ? Nice-Bordeaux" href="http://www.quiparier.com/football-pronostics-2014-08-23.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Nice</button> <button type="button" class="btn btn-xs btn-success active">Bordeaux</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Lorient-Nice" href="match3"><span class="glyphicon glyphicon-chevron-left"></span> Reims-Caen</a>
      <a type="button" class="btn btn-info active" title= "Rennes-Evian" href="match5">Lille-Lorient <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>