 <html>
 <head>

  <title>Pronosticao - Pronostics pour Nice-Toulouse</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Nice-Toulouse de la 1e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>9 août 21h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_ogc_nice.png", :alt => "Logo de l'OGC Nice") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_toulouse_fc.png", :alt => "Logo du Toulouse FC") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Toulouse</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">3.15</button>  <button type="button" class="btn btn-xs btn-warning active">3.80</button> <button type="button" class="btn btn-xs btn-success active">1.15</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">8.00</button> <button type="button" class="btn btn-xs btn-warning active">4.00</button> <button type="button" class="btn btn-xs btn-success active">1.33</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">8.10</button> <button type="button" class="btn btn-xs btn-warning active">4.40</button> <button type="button" class="btn btn-xs btn-success active">1.37</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">8.05</button> <button type="button" class="btn btn-xs btn-warning active">4.35</button> <button type="button" class="btn btn-xs btn-success active">1.36</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">7.00</button> <button type="button" class="btn btn-xs btn-warning active">4.10</button> <button type="button" class="btn btn-xs btn-success active">1.34</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Séries : 3 défaites et 1 nul pour Nice, contre 1 défaite, 2 nuls et 2 victoires pour Toulouse. Les Toulousains sont bons à l'extérieur et ont tendance à bien commencer leurs saisons : ils peuvent arracher la victoire.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Matchs amicaux</h3>
  </div>
  <div class="panel-body">
      <div class="container">
      <div class="row spacer">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><p class="text-justify"><b>Nice</b><br>12 juillet : Nice - Bordeaux, <b>0-2</b><br>18 juillet : Fréjus St-Raphaël - Nice, <b>0-0</b><br>23 juillet : PSG - Nice, <b>2-1</b><br>26 juillet : Brentford (D2 anglaise) - Nice, <b>3-2</b><br>28 juillet : Norwich (D2 anglaise) - Nice, <b>5-2</b><br>2 août : Nice - FC Barcelone, <b>1-1</b></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><p class="text-justify"><b>Toulouse</b><br>9 juillet : Toulouse - Nîmes, <b>1-2</b><br>12 juillet : Toulouse - Luzenac, <b>1-1</b><br>16 juillet : Toulouse - AC Ajaccio, <b>1-0</b><br>19 juillet : Toulouse - Montpellier, <b>2-2</b><br>23 juillet : Sète - Toulouse, <b>0-2</b><br>26 juillet : Club Africain (D1 tunisienne) - Toulouse, <b>1-1</b><br>2 août : Toulouse - Athletic Bilbao, <b>2-0</b></div>

  </div>
</div>
</div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous avez pensé à mettre un cierge en l'honneur de Sainte-Thérèse, un nul à la mi-temps est tout à fait envisageable pour les joueurs de combinés.</p>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-warning active">1.85</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax :  <button type="button" class="btn btn-xs btn-warning active">1.92</button></p> </div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet :  <button type="button" class="btn btn-xs btn-warning active">1.87</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-warning active">1.85</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-warning active">1.80</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-warning active">1.85</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-warning active">1.91</button> </p></div>


      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">1</button> <button type="button" class="btn btn-xs btn-success active">2</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Nice</button> <button type="button" class="btn btn-xs btn-warning active">Toulouse</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">-2.5 buts</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Nice</button> <button type="button" class="btn btn-xs btn-success active">Toulouse</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Nantes-Lens" href="match4"><span class="glyphicon glyphicon-chevron-left"></span> Nantes-Lens</a>
      <a type="button" class="btn btn-info active" title= "Montpellier-Bordeaux" href="match6">Montpellier-Bordeaux <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>