 <html>
 <head>

  <title>Pronosticão - Pronostics pour Nantes-Lens</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Nantes-Lens de la 1e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>9 août 21h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_fc_nantes.png", :alt => "Logo du FC Nantes") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_rc_lens.png", :alt => "Logo du RC Lens") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Match nul</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">2.00</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-success active">3.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">2.10</button> <button type="button" class="btn btn-xs btn-warning active">3.20</button> <button type="button" class="btn btn-xs btn-success active">3.45</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">2.16</button> <button type="button" class="btn btn-xs btn-warning active">3.11</button> <button type="button" class="btn btn-xs btn-success active">3.31</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">2.05</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-success active">3.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">2.15</button> <button type="button" class="btn btn-xs btn-warning active">2.95</button> <button type="button" class="btn btn-xs btn-success active">3.05</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">2.05</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-success active">3.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">2.00</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-success active">3.50</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">L'ancien promu affronte le nouveau ! Avec les pertes d'Aréola et de Tisserand côté lensois, ce match s'annonce difficile, exactement comme les débuts de Nantes en Ligue 1 l'année dernière. Mais côté nantais, il faut aussi noter la perte de Djordjevic. Le temps pour ces équipes de trouver leurs marques, on table sur un match nul.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Matchs amicaux</h3>
  </div>
  <div class="panel-body">
      <div class="container">
      <div class="row spacer">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><p class="text-justify"><b>Nantes</b><br>12 juillet : Nantes - Meyrin (D4 suisse), <b>3-0</b><br>16 juillet : Nantes - Angers, <b>1-3</b><br>19 juillet : Nantes - Brest, <b>1-0</b><br>23 juillet : Bordeaux - Nantes, <b>1-1</b><br>26 juillet : Nantes - Lorient, <b>0-2</b><br>30 juillet : Nantes - Luçon, <b>0-0</b><br>2 août : Atalanta Bergame (D1 italienne) - Nantes, <b>0-0</b></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><p class="text-justify"><b>Lens</b><br>8 juillet : Boulogne - Lens, <b>2-1</b><br>18 juillet : Troyes - Lens, <b>3-0</b><br>26 juillet : Caen - Lens, <b>4-2</b><br>30 juillet : Lens - Charleroi (D1 belge), <b>4-2</b><br>2 août : Lens-Saint-Etienne, <b>0-1</b></div>

  </div>
</div>
</div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous avez pensé à mettre un cierge en l'honneur de Saint-Dominique de Guzman, misez sur la <b>victoire des lensois</b> heureux de retrouver la Ligue 1 et qui peuvent tout donner dès le premier match.</p>
</div><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">2</button> <button type="button" class="btn btn-xs btn-warning active">2</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Nantes</button> <button type="button" class="btn btn-xs btn-danger active">Lens</button></p></div>

    </div>
  </div>
</div>
</div><br>


<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Bastia-Marseille" href="match3"><span class="glyphicon glyphicon-chevron-left"></span> Bastia-Marseille</a>
      <a type="button" class="btn btn-info active" title= "Nice-Toulouse" href="match5">Nice-Toulouse <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>