 <html>
 <head>

  <title>Pronosticao - Pronostics pour Lorient-Guingamp</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Lorient-EAG  de la 4e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 20h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_lorient.png", :alt => "Logo de Lorient") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_en_avant_de_guingamp.png", :alt => "Logo de l'En Avant de Guingamp") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Guingamp</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">2.10</button>  <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-success active">3.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">2.05</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-success active">3.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">2.15</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button> <button type="button" class="btn btn-xs btn-success active">3.95</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">2.13</button> <button type="button" class="btn btn-xs btn-danger active">3.21</button> <button type="button" class="btn btn-xs btn-success active">3.91</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">2.10</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-success active">3.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">2.10</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-success active">3.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">2.10</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-success active">3.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">2.10</button> <button type="button" class="btn btn-xs btn-danger active">2.95</button> <button type="button" class="btn btn-xs btn-success active">3.40</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Depuis le début de saison, Lorient propose de très bonnes choses, mais ils ont perdu Aboubakar et il est peu probable qu'Ayew puisse le remplacer. En face, Guingamp n'a pas été mauvais face à Marseille et a réussi à garder ses cadres, ce qui devrait jouer en leur faveur.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator Lorient-EAG" href="http://www.wincomparator.com/fr-fr/pronostic/pronostics-match/lorient-guingamp-2014-08-30.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lorient</button> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button></p></div></a>

    <a title="SportyTrader Lorient-EAG" html="http://www.sportytrader.com/pronostic-lorient-guingamp-32651.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Lorient</button> <button type="button" class="btn btn-xs btn-warning active">Guingamp</button></p></div></a>

     <a title="Sport4Tune Lorient-EAG" html="http://www.sport4tune.com/fr_pronostic-lorient-guingamp.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">1</button> <button type="button" class="btn btn-xs btn-success active">2</button></p></div></a>

    <a title="SOSPronostics" href="http://www.sospronostics.com/ligue1.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Lorient</button> <button type="button" class="btn btn-xs btn-warning active">Guingamp</button></p></div></a>

    <a title="Coteur Lorient-EAG" href="http://www.coteur.com/match/lorient-guingamp-rid636034.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lorient</button> <button type="button" class="btn btn-xs btn-danger active">EAG</button></p></div></a>

    <a title="foot-pronostic Lorient-EAG" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-5.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lorient</button> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button></p></div></a>

    <a title="Qui parier ? Lorient-EAG" href="http://www.quiparier.com/football-lorient-guingamp-772650.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lorient</button> <button type="button" class="btn btn-xs btn-danger active">Guingamp</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Nantes-Montpellier" href="match4"><span class="glyphicon glyphicon-chevron-left"></span> Nantes-Montpellier</a>
      <a type="button" class="btn btn-info active" title= "Toulouse-Evian" href="match6">Toulouse-Evian <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>