 <html>
 <head>

  <title>Pronosticao - Pronostics pour Nantes-Montpellier</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Nantes-Montpellier de la 4e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 20h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_fc_nantes.png", :alt => "Logo du FC Nantes") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_Montpellier.png", :alt => "Logo de Montpellier") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Match nul</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">2.25</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">3.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">2.25</button> <button type="button" class="btn btn-xs btn-warning active">2.90</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">2.34</button> <button type="button" class="btn btn-xs btn-warning active">3.15</button> <button type="button" class="btn btn-xs btn-danger active">3.47</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">2.33</button> <button type="button" class="btn btn-xs btn-warning active">3.13</button> <button type="button" class="btn btn-xs btn-danger active">3.46</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">2.30</button> <button type="button" class="btn btn-xs btn-warning active">2.90</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">2.25</button> <button type="button" class="btn btn-xs btn-warning active">2.80</button> <button type="button" class="btn btn-xs btn-danger active">3.45</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">2.30</button> <button type="button" class="btn btn-xs btn-warning active">2.90</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">2.30</button> <button type="button" class="btn btn-xs btn-warning active">2.85</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">Face à Monaco, Nantes s'est montré solide, a l'habitude de montrer de belles choses à domicile et pourrait bien déjouer Montpellier, malgré leur réalisme.</p>
  </div>
</div><br>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>
  
   <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator Nantes-Montpellier" href="http://www.wincomparator.com/fr-fr/pronostic/pronostics-match/nantes-montpellier.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Nantes</button> <button type="button" class="btn btn-xs btn-success active">Montpellier</button></p></div></a>

    <a title="Sport4Tune Nantes-Montpellier" href="http://www.sportytrader.com/pronostic-nantes-montpellier-32653.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Nantes</button> <button type="button" class="btn btn-xs btn-warning active">Montpellier</button></p></div></a>

    <a title="SOSPronostics" href="http://www.sospronostics.com/ligue1.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Nantes</button> <button type="button" class="btn btn-xs btn-danger active">Montpellier</button></p></div></a>

    <a title"Coteur Nantes-Montpellier" href="http://www.coteur.com/match/nantes-montpellier-rid636028.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Nantes</button> <button type="button" class="btn btn-xs btn-success active">Montpellier</button></p></div></a>
    
    <a title="foot-pronostic Nantes-Montpellier" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-6.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Nantes</button> <button type="button" class="btn btn-xs btn-danger active">Montpellier</button></p></div></a>

    <a title="Qui parier ? Nantes-Montpellier" href="http://www.quiparier.com/football-nantes-montpellier-772674.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Nantes</button> <button type="button" class="btn btn-xs btn-success active">Montpellier</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Caen-Rennes" href="match3"><span class="glyphicon glyphicon-chevron-left"></span> Caen-Rennes</a>
      <a type="button" class="btn btn-info active" title= "Lorient-EAG" href="match5">Lorient-Guingamp <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>