<div class="panel panel-default">
  <div class="panel-heading">
  	<h4>8 août 20h30</h4>
  </div>
  <div class="panel-body">
  	<div class="media">
	  	<a class="pull-left" href="#">
	    <p><img src="../../../../../Documents/Pronosticao/reims.png" class="img-responsive" alt="Reims"></p>
	  	</a>
  	</div>
  </div>
</div>