 <html>
 <head>

  <title>Pronosticao - Pronostics pour Bordeaux-Bastia</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Bordeaux-Bastia de la 4e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>31 août 14h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_bordeaux.png", :alt => "Logo des Girondins de Bordeaux") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_sc_bastia.png", :alt => "Logo du SC Bastia") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Bordeaux</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-success active">1.60</button> <button type="button" class="btn btn-xs btn-danger active">3.60</button> <button type="button" class="btn btn-xs btn-danger active">5.80</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">1.65</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">5.10</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.66</button> <button type="button" class="btn btn-xs btn-danger active">3.72</button> <button type="button" class="btn btn-xs btn-danger active">6.10</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.61</button> <button type="button" class="btn btn-xs btn-danger active">3.71</button> <button type="button" class="btn btn-xs btn-danger active">6.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.60</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">6.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.60</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">5.70</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.60</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">6.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">1.57</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">5.50</button></p></div>
      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Bordeaux s'est jusque-là imposé comme l'équipe la plus ambitieuse du championnat, et même si leur attaquant est suspendu, ils ont montré jusqu'ici un magnifique jeu offensif. En face, Bastia manque d'attaquants, avec Cissé blessé et Brandao suspendu. Côté efficacité, Bastia a pris 5 buts en 3 matchs, là où Bordeaux en a mis 8...</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator Bordeaux-Bastia" href="http://www.wincomparator.com/fr-fr/pronostic/pronostics-match/bordeaux-bastia-2014-08-31.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Bordeaux</button> <button type="button" class="btn btn-xs btn-danger active">Bastia</button></p></div></a>

    <a title="SportyTrader Bordeaux-Bastia" href="http://www.sportytrader.com/pronostic-bordeaux-bastia-32673.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Bordeaux</button> <button type="button" class="btn btn-xs btn-danger active">Bastia</button></p></div></a>

    <a title="Sport4Tune Bordeaux-Bastia" href="http://www.sport4tune.com/fr_pronostic-bordeaux-bastia.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">2</button> <button type="button" class="btn btn-xs btn-success active">1</button></p></div></a>

    <a title="SOSPronostics Bordeaux-Bastia" href="http://www.sospronostics.com/bordeaux-bastia-2328.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Bordeaux</button> <button type="button" class="btn btn-xs btn-danger active">Bastia</button></p></div></a>

    <a title="Coteur Bordeaux-Bastia" href="http://www.coteur.com/match/bordeaux-bastia-rid636035.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Bordeaux</button> <button type="button" class="btn btn-xs btn-danger active">Bastia</button></p></div></a>

    <a title="foot-pronostic Bordeaux-Bastia" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-8.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Bordeaux</button> <button type="button" class="btn btn-xs btn-danger active">Bastia</button></p></div></a>

    <a title="Qui parier ? Bordeaux-Bastia" href="http://www.quiparier.com/football-bordeaux-bastia-772648.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Bordeaux</button> <button type="button" class="btn btn-xs btn-danger active">Bastia</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Lens-Reims" href="match7"><span class="glyphicon glyphicon-chevron-left"></span> Lens-Reims</a>
      <a type="button" class="btn btn-info active" title= "Metz-Lyon" href="match9">Metz-Lyon <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>