 <html>
 <head>

  <title>Pronosticao - Pronostics pour Lorient-Nice</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Lorient-Nice de la 1e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>
<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>16 août 20h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_lorient.png", :alt => "Logo de Lorient") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_ogc_nice.png", :alt => "Logo de l'OGC Nice") %></p>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Nice</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">1.80</button> <button type="button" class="btn btn-xs btn-danger active">3.30</button> <button type="button" class="btn btn-xs btn-success active">4.70</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">BetClic : <button type="button" class="btn btn-xs btn-danger active">1.70</button> <button type="button" class="btn btn-xs btn-danger active">3.30</button> <button type="button" class="btn btn-xs btn-success active">4.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">1.84</button> <button type="button" class="btn btn-xs btn-danger active">3.35</button> <button type="button" class="btn btn-xs btn-success active">4.90</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">1.85</button> <button type="button" class="btn btn-xs btn-danger active">3.35</button> <button type="button" class="btn btn-xs btn-success active">4.85</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">1.72</button> <button type="button" class="btn btn-xs btn-danger active">3.20</button> <button type="button" class="btn btn-xs btn-success active">4.70</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">1.74</button> <button type="button" class="btn btn-xs btn-danger active">3.20</button> <button type="button" class="btn btn-xs btn-success active">4.80</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">1.72</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button> <button type="button" class="btn btn-xs btn-success active">4.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">1.83</button> <button type="button" class="btn btn-xs btn-danger active">3.20</button> <button type="button" class="btn btn-xs btn-success active">4.25</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">Lorient a fait un grand match, mais qui a tenu surtout à la performance de Lecomte et Aboubakar - qui est sur le départ et risque d'être absent de la feuille de match. Lorient aura certes un léger avantage en jouant à domicile, mais l'équipe n'a jamais connu de grand départ en Ligue 1 et le coaching ne devrait pas beaucoup changé, sachant que c'est l'adjoint de Gourcuff qui lui a succédé. En face, Nice a certes perdu Ospina et risque d'être efficace en défense, mais le match contre Toulouse a signé le retour d'un Cvitanich. Selon nous, l'effectif niçois devrait l'emporter.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lorient</button> <button type="button" class="btn btn-xs btn-success active">Nice</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des Joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lorient</button> <button type="button" class="btn btn-xs btn-danger active">Nice</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lorient</button> <button type="button" class="btn btn-xs btn-danger active">Nice</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Lorient</button> <button type="button" class="btn btn-xs btn-danger active">Nice</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Lorient</button> <button type="button" class="btn btn-xs btn-warning active">Nice</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Metz-Nantes" href="match8"><span class="glyphicon glyphicon-chevron-left"></span> Metz-Nantes</a>
      <a type="button" class="btn btn-info active" title= "Lens-Guingamp" href="match4">Lens-Guingamp <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


  <br><br>

</body>
</html>