 <html>
 <head>

  <title>Pronosticao - Pronostics pour PSG-Bastia</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Paris-Bastia de la 2e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>16 août 17h00</h1>
  </div>

  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_paris_saint_germain.png", :alt => "Logo du Paris Saint-Germain") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_sc_bastia.png", :alt => "Logo du SC Bastia") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire du PSG</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-success active">1.15</button> <button type="button" class="btn btn-xs btn-danger active">7.50</button> <button type="button" class="btn btn-xs btn-danger active">14.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">1.10</button> <button type="button" class="btn btn-xs btn-danger active">7.50</button> <button type="button" class="btn btn-xs btn-danger active">17.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.16</button> <button type="button" class="btn btn-xs btn-danger active">7.80</button> <button type="button" class="btn btn-xs btn-danger active">19.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.16</button> <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-danger active">19.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.11</button> <button type="button" class="btn btn-xs btn-danger active">6.75</button> <button type="button" class="btn btn-xs btn-danger active">17.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.12</button> <button type="button" class="btn btn-xs btn-danger active">7.25</button> <button type="button" class="btn btn-xs btn-danger active">16.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.12</button> <button type="button" class="btn btn-xs btn-danger active">6.75</button> <button type="button" class="btn btn-xs btn-danger active">18.50</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Le score de PSG-Reims ne reflète pas le match de Paris. Quant à Bastia, s'ils ont réussi à mener la vie dure à Marseille, c'est probablement plus à cause des faiblesses du dispositif de Bielsa, les Marseillais ayant notamment eut du mal à contenir les Corses au milieu. Or, le milieu parisien est un des meilleurs d'Europe. Makélélé connaît bien le PSG, mais ça ne suffira sûrement pas, car on l'a vu : Ibra a faim. </U></p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Bastia</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Bastia</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

     <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des Joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Bastia</button></p></div>

     <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">BestParisSportifs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Paris</button> <button type="button" class="btn btn-xs btn-danger active">Bastia</button></p></div>


    </div>
  </div>
</div>
</div><br>

<div class="wrapper">

        <a type="button" class="btn btn-info active" title="Caen-Lille" href="match1"><span class="glyphicon glyphicon-chevron-left"></span> Caen-Lille</button> 
         <a type="button" class="btn btn-info active" title= "Metz-Nantes" href="match8">Metz-Nantes <span class="glyphicon glyphicon-chevron-right"></span></a>

  </a>
</div>

  <br><br>



</body>
</html>