 <html>
 <head>

  <title>Pronosticao - Pronostics pour Bastia-Marseille</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Bastia-Marseille de la 1e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>
<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>9 août 21h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_olympique_de_marseille.png", :alt => "Logo de l'Olympique de Marseille") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_sc_bastia.png", :alt => "Logo du SC Bastia") %></p>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Match nul</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">3.50</button> <button type="button" class="btn btn-xs btn-warning active">3.00</button> <button type="button" class="btn btn-xs btn-danger active">1.95</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">3.71</button> <button type="button" class="btn btn-xs btn-warning active">3.15</button> <button type="button" class="btn btn-xs btn-danger active">2.01</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">3.51</button> <button type="button" class="btn btn-xs btn-warning active">3.11</button> <button type="button" class="btn btn-xs btn-danger active">2.11</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">2.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">3.70</button> <button type="button" class="btn btn-xs btn-warning active">3.00</button> <button type="button" class="btn btn-xs btn-danger active">1.90</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">2.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">3.50</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">2.00</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">Avec les arrivées de Makélélé comme entraîneur, Aréola aux cages et Brandao en pointe, cette équipe de Bastia qui joue à domicile à de quoi tenir le nul face à une équipe de Marseille qui fera sa première avec Bielsa en Ligue 1.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Matchs amicaux</h3>
  </div>
  <div class="panel-body">
      <div class="container">
      <div class="row spacer">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><p class="text-justify"><b>Bastia</b><br>11 juillet : Bastia - Gazélec Ajaccio, <b>0-0</b><br>19 juillet : Evian TG - Bastia, <b>2-1</b><br>22 juillet : Clermont - Bastia, <b>0-0</b><br>25 juillet : Norwich (D2 anglaise) - Bastia, <b>1-1</b><br>2 août : Bastia - Genoa (D1 italienne), <b>1-0</b></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><p class="text-justify"><b>Marseille</b><br>19 juillet : OM - Bayer Leverkusen (D1 allemande), <b>4-1</b><br>23 juillet : OM - Benfica (D1 portugaise), <b>2-1</b><br>27 juillet : OM - Willem II (D1 néerlandaise), <b>5-0</b><br>30 juillet : Bari - OM, <b>1-1</b><br>2 août : OM - Chievo Vérone (D1 italienne), <b>3-1</b></div>

  </div>
</div>
</div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous avez pensé à mettre un cierge en l'honneur de Sainte-Thérèse, un <b>2-1 pour l'OM</b> est à tenter. On sait que Bastia tenait bien le coup à domicile l'année dernière, mais les Marseillais se doivent de commencer leur saison d'une belle manière pour se réconcilier avec leurs supporters, et ce match reste à leur portée.</p>
</div><br>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">8.25</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax :  <button type="button" class="btn btn-xs btn-success active">8.00</button></p> </div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet :  <button type="button" class="btn btn-xs btn-success active">7.25</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">8.00</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">7.50</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">8.00</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">8.00</button> </p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Bastia</button> <button type="button" class="btn btn-xs btn-success active">OM</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">BetForWin <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Bastia</button> <button type="button" class="btn btn-xs btn-success active">OM</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">-2,5 buts</button> </p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">1</button> <button type="button" class="btn btn-xs btn-warning active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Bastia</button> <button type="button" class="btn btn-xs btn-success active">OM</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Reims-PSG" href="match2"><span class="glyphicon glyphicon-chevron-left"></span> Reims-PSG</a>
      <a type="button" class="btn btn-info active" title= "Nantes-Lens" href="match4">Nantes-Lens <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


  <br><br>

</body>
</html>