 <html>
 <head>

  <title>Pronosticao - Pronostics pour Evian-PSG</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Evian TG-PSG de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>
<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>22 août 20h30</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	  <p><%= image_tag("logo_evian_thonon_gaillard.png", :alt => "Logo d'Evian Thonon-Gaillard") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_paris_saint_germain.png", :alt => "Logo du Paris Saint Germain") %></p>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire du PSG</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">9.00</button>  <button type="button" class="btn btn-xs btn-danger active">4.50</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">8.75</button> <button type="button" class="btn btn-xs btn-danger active">4.60</button> <button type="button" class="btn btn-xs btn-success active">1.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">8.00</button> <button type="button" class="btn btn-xs btn-danger active">4.70</button> <button type="button" class="btn btn-xs btn-success active">1.37</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">8.30</button> <button type="button" class="btn btn-xs btn-danger active">5.00</button> <button type="button" class="btn btn-xs btn-success active">1.38</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-danger active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">7.50</button> <button type="button" class="btn btn-xs btn-danger active">4.90</button> <button type="button" class="btn btn-xs btn-success active">1.30</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-danger active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">7.50</button> <button type="button" class="btn btn-xs btn-danger active">4.33</button> <button type="button" class="btn btn-xs btn-success active">1.36</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Face à Evian, Ibra sera absent, et on sait que le PSG version 2013-2014 sans Ibra gagnait beaucoup moins. Mais l'équipe a montré face à Bastia qu'elle savait s'imposer sans Ibra et sans Thiago Silva. Quant à Evian, c'est une équipe qui a montré beaucoup de fébrilité et très peu de possession de balle, ce qui devrait s'avérer être une aubaine pour le trio de Parisiens au milieu, même si Motta peut être absent (vérifier la feuille de match). Quoiqu'il arrive, la suprématie parisienne devrait se traduire par une victoire logique.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>

  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title ="Wincomparator" href="http://www.wincomparator.com/fr-fr/pronostic/football/ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Evian</button> <button type="button" class="btn btn-xs btn-success active">PSG</button></p></div></a>

    <a title="SportyTrader" href="http://www.sportytrader.com/pronostic-ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Evian</button> <button type="button" class="btn btn-xs btn-success active">PSG</button></p></div></a>

    <a title= "Sport4Tune Evian-PSG" href="http://www.sport4tune.com/fr_pronostic-evian-paris-st-germain.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">1</button> <button type="button" class="btn btn-xs btn-success active">2</button></p></div></a>

    <a title="Rue des Joueurs Evian-PSG" href="http://www.ruedesjoueurs.com/pronostic/evian-thonon-gaillard-paris-saint-germain-1709718.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des Joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Evian</button> <button type="button" class="btn btn-xs btn-success active">PSG</button></p></div></a>

    <a title="SOSPronostics" href="http://www.sospronostics.com/ligue1.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Evian</button> <button type="button" class="btn btn-xs btn-success active">PSG</button></p></div></a>

    <a title="Coteur Evian-PSG" href="http://www.coteur.com/match/evian-tg-fc-psg-rid631685.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Evian</button> <button type="button" class="btn btn-xs btn-success active">PSG</button></p></div></a>

    <a title="foot-pronostic Evian-PSG" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Evian</button> <button type="button" class="btn btn-xs btn-success active">PSG</button></p></div></a>

    <a title="Qui parier ? Evian-PSG" href="http://www.quiparier.com/football-evian-thonon-g-paris-sg-767101.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Evian</button> <button type="button" class="btn btn-xs btn-success active">PSG</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
  <a class="container-fluid" title="Guingamp-Marseille" href="match2">

        <button type="button" class="btn btn-info active">Guingamp-Marseille <span class="glyphicon glyphicon-chevron-right"></span></button>

  </a>
</div>

<br><br>

</body>
</html>
