<br><br><br><br><br>
<div class="panel panel-default">
  <div class="panel-heading">
  	<h4>9 août 21h00</h4>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><img src="http://i32.tinypic.com/24ott86.png" alt="Guingamp" height="125" width="125">  <span class="glyphicon glyphicon-minus"></span>  
      <img src="http://www.wincomparator.com/upload/images/Logo%20ASSE.jpg" alt="Saint-Etienne" height="125" width="125"></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <p class="text-center">Notre pronosticão : Victoire de l'ASSE.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-center">

    ParionsSport : <button type="button" class="btn btn-xs btn-danger active">3.15</button>  <button type="button" class="btn btn-xs btn-warning active">3.80</button> <button type="button" class="btn btn-xs btn-success active">1.15</button> 

    Betclic : <button type="button" class="btn btn-xs btn-danger active">8.00</button> <button type="button" class="btn btn-xs btn-warning active">4.00</button> <button type="button" class="btn btn-xs btn-success active">1.33</button> 

    Winamax : <button type="button" class="btn btn-xs btn-danger active">8.10</button> <button type="button" class="btn btn-xs btn-warning active">4.40</button> <button type="button" class="btn btn-xs btn-success active">1.37</button> 

    Unibet : <button type="button" class="btn btn-xs btn-danger active">8.05</button> <button type="button" class="btn btn-xs btn-warning active">4.35</button> <button type="button" class="btn btn-xs btn-success active">1.36</button> 

    NetBet : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button> <br><br>

    PMU : <button type="button" class="btn btn-xs btn-danger active">7.00</button> <button type="button" class="btn btn-xs btn-warning active">4.10</button> <button type="button" class="btn btn-xs btn-success active">1.34</button> 

    France-pari : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button> 

    France-pari : <button type="button" class="btn btn-xs btn-danger active">8.00</button> <button type="button" class="btn btn-xs btn-warning active">4.30</button> <button type="button" class="btn btn-xs btn-success active">1.37</button></p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">Le PSG de Laurent Blanc a remporté le titre la saison passée et compte bien renouveler le sacre cette année, renforcé par l'arrivée du défenseur brésilien David Luiz en provenance de Chelsea. Le club de la capitale sera opposé au Stade de Reims dans un match largement à leur portée.</p>
  </div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous êtes d'humeur à jouer, aujourd'hui, un 3-0 pour Paris est envisageable.</p>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-center">

    ParionsSport : <button type="button" class="btn btn-xs btn-danger active">3.15</button>  <button type="button" class="btn btn-xs btn-warning active">3.80</button> <button type="button" class="btn btn-xs btn-success active">1.15</button> 

    Betclic : <button type="button" class="btn btn-xs btn-danger active">8.00</button> <button type="button" class="btn btn-xs btn-warning active">4.00</button> <button type="button" class="btn btn-xs btn-success active">1.33</button> 

    Winamax : <button type="button" class="btn btn-xs btn-danger active">8.10</button> <button type="button" class="btn btn-xs btn-warning active">4.40</button> <button type="button" class="btn btn-xs btn-success active">1.37</button> 

    Unibet : <button type="button" class="btn btn-xs btn-danger active">8.05</button> <button type="button" class="btn btn-xs btn-warning active">4.35</button> <button type="button" class="btn btn-xs btn-success active">1.36</button> 

    NetBet : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button> <br><br>

    PMU : <button type="button" class="btn btn-xs btn-danger active">7.00</button> <button type="button" class="btn btn-xs btn-warning active">4.10</button> <button type="button" class="btn btn-xs btn-success active">1.34</button> 

    France-pari : <button type="button" class="btn btn-xs btn-danger active">7.75</button> <button type="button" class="btn btn-xs btn-warning active">4.20</button> <button type="button" class="btn btn-xs btn-success active">1.35</button> 

    France-pari : <button type="button" class="btn btn-xs btn-danger active">8.00</button> <button type="button" class="btn btn-xs btn-warning active">4.30</button> <button type="button" class="btn btn-xs btn-success active">1.37</button></p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">

    Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Reims</button> <button type="button" class="btn btn-xs btn-success active">Paris</button>

    Rue des joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Reims</button> <button type="button" class="btn btn-xs btn-success active">Paris</button>

    FootballFeeling <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Reims</button> <button type="button" class="btn btn-xs btn-warning active">Paris</button>

    Pronostics.info <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">0</button> <button type="button" class="btn btn-xs btn-success active">3</button>

    SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Reims</button> <button type="button" class="btn btn-xs btn-danger active">Paris</button><br><br>

    Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Reims</button> <button type="button" class="btn btn-xs btn-success active">Paris</button>

    Coter <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">1</button> <button type="button" class="btn btn-xs btn-warning active">1</button>

    </p>
  </div>
</div><br>
