 <html>
 <head>

  <title>Pronosticão - Pronostics pour Montpellier-Bordeaux</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Montpellier-Bordeaux de la 1e journée de Ligue 1." />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45637424-2', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>9 août 21h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_Montpellier.png", :alt => "Logo du Montpellier SC") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_bordeaux.png", :alt => "Logo des Girondins de Bordeaux") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Match nul</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">2.20</button> <button type="button" class="btn btn-xs btn-warning active">2.90</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">2.30</button> <button type="button" class="btn btn-xs btn-warning active">3.15</button> <button type="button" class="btn btn-xs btn-danger active">3.15</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">2.31</button> <button type="button" class="btn btn-xs btn-warning active">3.11</button> <button type="button" class="btn btn-xs btn-danger active">3.11</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">2.20</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">2.20</button> <button type="button" class="btn btn-xs btn-warning active">3.00</button> <button type="button" class="btn btn-xs btn-danger active">2.95</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">2.20</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">2.30</button> <button type="button" class="btn btn-xs btn-warning active">2.95</button> <button type="button" class="btn btn-xs btn-danger active">2.95</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Cette rencontre donnera probablement lieu à un match serré qui devrait aboutir sur un nul. Les deux équipes sont des habituées des matchs nuls, et ce premier match de la saison ne devrait pas échapper à la règle.</p>
  </div>
</div><br>

<div class="jumbotron"> 
 <p class="text-center">Panenka : si vous avez pensé à mettre un cierge en l'honneur de Saint-Dominique de Guzman, vous pouvez tenter une <b>victoire de Bordeaux à la mi-temps</b>, grâce à un bon coaching de Willy Sagnol.</p>
</div><br>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">


         <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">3.30</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax :  <button type="button" class="btn btn-xs btn-success active">3.50</button></p> </div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet :  <button type="button" class="btn btn-xs btn-success active">3.50</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">3.50</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">3.60</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">3.50</button> </p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">3.40</button> </p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">1</button> <button type="button" class="btn btn-xs btn-warning active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Montpellier</button> <button type="button" class="btn btn-xs btn-warning active">Bordeaux</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Montpellier</button> <button type="button" class="btn btn-xs btn-danger active">Bordeaux</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Montpellier</button> <button type="button" class="btn btn-xs btn-danger active">Bordeaux</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Montpellier</button> <button type="button" class="btn btn-xs btn-warning active">Bordeaux</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Nice-Toulouse" href="match5"><span class="glyphicon glyphicon-chevron-left"></span> Nice-Toulouse</a>
      <a type="button" class="btn btn-info active" title= "Lille-Metz" href="match7">Lille-Metz <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>