 <html>
 <head>

  <title>Pronosticao - Pronostics pour Nice-Bordeaux</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Nice-Bordeaux de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 20h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_ogc_nice.png", :alt => "Logo de l'OGC Nice") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_bordeaux.png", :alt => "Logo des Girondins de Bordeaux") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Lens</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-success active">2.70</button> <button type="button" class="btn btn-xs btn-danger active">3.00</button> <button type="button" class="btn btn-xs btn-danger active">2.70</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">2.70</button> <button type="button" class="btn btn-xs btn-danger active">2.90</button> <button type="button" class="btn btn-xs btn-danger active">2.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">2.80</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">2.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">2.77</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">2.72</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">2.50</button> <button type="button" class="btn btn-xs btn-danger active">3.05</button> <button type="button" class="btn btn-xs btn-danger active">2.65</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">2.70</button> <button type="button" class="btn btn-xs btn-danger active">2.90</button> <button type="button" class="btn btn-xs btn-danger active">2.65</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">2.50</button> <button type="button" class="btn btn-xs btn-danger active">3.05</button> <button type="button" class="btn btn-xs btn-danger active">2.65</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">2.75</button> <button type="button" class="btn btn-xs btn-danger active">2.85</button> <button type="button" class="btn btn-xs btn-danger active">2.65</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Détails</h4>
  </div>
  <div class="panel-body">
    <p class="text-center">Match très difficile à prévoir, comme le montrent les cotes serrées. Guingamp n'a pas réussi a beaucoup recruter, et s'est incliné 2-0 face à Saint-Etienne. Si Lens a connu une inter-saison perturbée et a elle aussi raté son entrée en matière, l'équipe joue devant son public et les joueurs devraient avoir à coeur de montrer qu'ils méritent leur place en Ligue 1. Et ce sera d'autant plus dur pour Guingamp de s'imposer qu'il va falloir qu'ils s'habituent à la pelouse syntétique.</p>
  </div>
</div><br>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Ce que disent les autres</h4>
  </div>
  
   <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Caen</button> <button type="button" class="btn btn-xs btn-warning active">Lille</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Caen</button> <button type="button" class="btn btn-xs btn-warning active">Lille</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">0</button> <button type="button" class="btn btn-xs btn-success active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des Joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">-2,5 buts</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">XPronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Best Paris Sportifs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Lorient-Nice" href="match3"><span class="glyphicon glyphicon-chevron-left"></span> Reims-Caen</a>
      <a type="button" class="btn btn-info active" title= "Rennes-Evian" href="match5">Lille-Lorient <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>