 <html>
 <head>

  <title>Pronosticao - Pronostics pour Montpellier-Bordeaux</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Montpellier-Bordeaux de la 2e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>17 août 14h</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_olympique_de_marseille.png", :alt => "Logo de l'Olympique de Marseille SC") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_Montpellier.png", :alt => "Logo de Montpellier") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Marseille</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-success active">1.58</button> <button type="button" class="btn btn-xs btn-danger active">3.60</button> <button type="button" class="btn btn-xs btn-danger active">6.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-success active">1.55</button> <button type="button" class="btn btn-xs btn-danger active">3.60</button> <button type="button" class="btn btn-xs btn-danger active">5.75</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-success active">1.62</button> <button type="button" class="btn btn-xs btn-danger active">3.75</button> <button type="button" class="btn btn-xs btn-danger active">6.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-success active">1.61</button> <button type="button" class="btn btn-xs btn-danger active">3.65</button> <button type="button" class="btn btn-xs btn-danger active">6.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-success active">1.53</button> <button type="button" class="btn btn-xs btn-danger active">3.50</button> <button type="button" class="btn btn-xs btn-danger active">5.70</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-success active">1.60</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">5.70</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-success active">1.58</button> <button type="button" class="btn btn-xs btn-danger active">3.30</button> <button type="button" class="btn btn-xs btn-danger active">5.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-success active">1.60</button> <button type="button" class="btn btn-xs btn-danger active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">5.75</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Même si Marseille est un peu dans la tourmente à cause de Bielsa et d'Amalfitano et a concédé le nul face à Bastia, les trois buts montrent un vrai talent offensif, avec des jeunes comme Lemina et Thaubin qui commencent à s'imposer. Si Barrios pourrait être un vai atout pour Montpellier, ils se sont incliné à Bordeaux, et vont jouer contre le public du Vélodrome... tout en ayant perdu leur meilleur atout, Cabella. Quant à Stamboulie, même s'il sera présent, il devra faire attention à ne pas se blesser s'il veut évoluer dans un grand club.</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div>

    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Marseille</button> <button type="button" class="btn btn-xs btn-success active">Montpellier</button></p></div>

    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Marseille</button> <button type="button" class="btn btn-xs btn-danger active">Montpellier</button></p></div>

    <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Rue des joueurs <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Marseille</button> <button type="button" class="btn btn-xs btn-danger active">Montpellier</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "ASSE-Reims" href="match5"><span class="glyphicon glyphicon-chevron-left"></span> ASSE-Reims</a>
      <a type="button" class="btn btn-info active" title= "Bordeaux-Monaco" href="match7">Bordeaux-Monaco <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>