 <html>
 <head>

  <title>Pronosticao - Pronostics pour Bastia-Toulouse</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Bastia-Toulouse de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>23 août 20h</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_sc_bastia.png", :alt => "Logo du SC Bastia") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_toulouse_fc.png", :alt => "Logo du Toulouse FC") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Victoire de Toulouse</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">2.80</button> <button type="button" class="btn btn-xs btn-danger active">2.90</button> <button type="button" class="btn btn-xs btn-success active">2.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">2.85</button> <button type="button" class="btn btn-xs btn-danger active">3.15</button> <button type="button" class="btn btn-xs btn-success active">2.60</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">2.76</button> <button type="button" class="btn btn-xs btn-danger active">3.25</button> <button type="button" class="btn btn-xs btn-success active">2.57</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">2.60</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-success active">2.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">2.80</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-success active">2.40</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">2.60</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-success active">2.50</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">2.6O</button> <button type="button" class="btn btn-xs btn-danger active">3.10</button> <button type="button" class="btn btn-xs btn-success active">2.55</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Toulouse montre de très belle chose depuis le début de cette saison, et notamment beaucoup de réalisme. C'est une équipe qui sait gérer son match. Alors qu'en face, Makélélé a beaucoup à faire en interne avec Brandao, qui est suspendu. </p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator" href="http://www.wincomparator.com/fr-fr/pronostic/football/ligue-1.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Bastia</button> <button type="button" class="btn btn-xs btn-warning active">Toulouse</button></p></div></a>

    <a title="Sport4Tune Bastia-Toulouse" href="http://www.sport4tune.com/fr_pronostic-bastia-toulouse.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div></a>

    <a title="SOSPronostics Bastia-Toulouse" href="http://www.sospronostics.com/ligue1.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Bastia</button> <button type="button" class="btn btn-xs btn-danger active">Toulouse</button></p></div></a>

    <a title="foot-pronostic Bastia-Toulouse" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-3.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Bastia</button> <button type="button" class="btn btn-xs btn-warning active">Toulouse</button></p></div></a>

    <a title="Qui Parier ?" href="http://www.quiparier.com/football-pronostics-2014-08-23.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-danger active">Bastia</button> <button type="button" class="btn btn-xs btn-success active">Toulouse</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "ASSE-Reims" href="match5"><span class="glyphicon glyphicon-chevron-left"></span> Lille-Lorient</a>
      <a type="button" class="btn btn-info active" title= "Bordeaux-Monaco" href="match7">Montpellier-Metz <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>

</body>
</html>