<html>
 <head>

  <title>Pronosticao - Pronostics pour ASSE-Rennes</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Saint-Etienne-Rennes de la 3e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>24 août 17h00</h1>
  </div>
  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_asse.png", :alt => "Logo de l'AS Saint-Etienne") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_stade_rennais.png", :alt => "Logo du Stade rennais") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Match nul</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">1.70</button> <button type="button" class="btn btn-xs btn-warning active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">5.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">1.62</button> <button type="button" class="btn btn-xs btn-warning active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">5.25</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">1.72</button> <button type="button" class="btn btn-xs btn-warning active">3.50</button> <button type="button" class="btn btn-xs btn-danger active">5.40</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">1.71</button> <button type="button" class="btn btn-xs btn-warning active">3.41</button> <button type="button" class="btn btn-xs btn-danger active">5.35</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">1.70</button> <button type="button" class="btn btn-xs btn-warning active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">5.20</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">1.70</button> <button type="button" class="btn btn-xs btn-warning active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">5.20</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">1.70</button> <button type="button" class="btn btn-xs btn-warning active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">5.20</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">1.67</button> <button type="button" class="btn btn-xs btn-warning active">3.40</button> <button type="button" class="btn btn-xs btn-danger active">5.00</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Sainté a montré de grandes choses ces deux derniers matchs avec un Erding en forme, mais faire jouer l'équipe type en Turique pour le match d'Europa League risque d'avoir bien fatigué les joueurs, qui sont en plus repartis vaincus. Rennes a souvent du mal au Chaudron, et même si le score face à Evian a été impressionnant, Evian n'est pas Sainté... D'où le nul, malgré la cote super alléchante de Rennes.  .</p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>

  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator ASSE-Rennes" href="http://www.wincomparator.com/fr-fr/pronostic/pronostics-match/st-etienne-rennes-2014-08-23.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">ASSE</button> <button type="button" class="btn btn-xs btn-danger active">Rennes</button></p></div></a>

    <a title="Sport4Tune ASSE-Rennes" href="http://www.sport4tune.com/fr_pronostic-saint-etienne-rennes.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div></a>

    <a title="SOSPronostics ASSE-Rennes" href="http://www.sospronostics.com/st_etienne-rennes-2316.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SOSPronostics <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">ASSE</button> <button type="button" class="btn btn-xs btn-danger active">Rennes</button></p></div></a>

    <a title="Coteur ASSE-Rennes" href="http://www.coteur.com/match/st-etienne-rennes-rid631687.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">ASSE</button> <button type="button" class="btn btn-xs btn-danger active">Rennes</button></p></div></a>

    <a title="foot-pronostic ASSE-Rennes" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-9.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">ASSE</button> <button type="button" class="btn btn-xs btn-danger active">Rennes</button></p></div></a>

    <a title="Qui parier ?" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-9.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">ASSE</button> <button type="button" class="btn btn-xs btn-danger active">Rennes</button></p></div></a>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">
      <a type="button" class="btn btn-info active" title= "Lyon-Lens" href="match8"><span class="glyphicon glyphicon-chevron-left"></span> Lyon-Lens</a>
      <a type="button" class="btn btn-info active" title= "Nantes-Monaco" href="match10">Nantes-Monaco <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<br><br>


</body>
</html>