 <html>
 <head>

  <title>Pronosticao - Pronostics pour Monaco-LOSC</title>

  <meta name="description" content="Pronostics, cotes et informations pour parier sur le match Monaco-LOSC de la 4e journée de Ligue 1." />

</head>

<body>

<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-heading">
  	<h1>30 août 17h00</h1>
  </div>

  <div class="panel-body">
  	<div class="media">
	    <p><%= image_tag("logo_monaco.png", :alt => "Logo de l'AS Monaco") %>  <span class="glyphicon glyphicon-minus"></span>  
      <%= image_tag("logo_du_losc.png", :alt => "Logo du LOSC") %></p>
	  	</a>
  	</div>
  </div>
  <div class="jumbotron"> 
  <h2 class="text-center">Notre pronosticão : <b>Match nul</b></h2>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">ParionsSport : <button type="button" class="btn btn-xs btn-danger active">1.95</button> <button type="button" class="btn btn-xs btn-warning active">3.25</button> <button type="button" class="btn btn-xs btn-danger active">4.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Betclic : <button type="button" class="btn btn-xs btn-danger active">1.88</button> <button type="button" class="btn btn-xs btn-warning active">3.20</button> <button type="button" class="btn btn-xs btn-danger active">4.10</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Winamax : <button type="button" class="btn btn-xs btn-danger active">2.02</button> <button type="button" class="btn btn-xs btn-warning active">3.30</button> <button type="button" class="btn btn-xs btn-danger active">4.18</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Unibet : <button type="button" class="btn btn-xs btn-danger active">2.01</button> <button type="button" class="btn btn-xs btn-warning active">3.27</button> <button type="button" class="btn btn-xs btn-danger active">4.15</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">NetBet : <button type="button" class="btn btn-xs btn-danger active">1.95</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">4.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">PMU : <button type="button" class="btn btn-xs btn-danger active">1.95</button> <button type="button" class="btn btn-xs btn-warning active">3.00</button> <button type="button" class="btn btn-xs btn-danger active">4.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">France-pari : <button type="button" class="btn btn-xs btn-danger active">1.95</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">4.00</button></p></div>

        <div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Bwin : <button type="button" class="btn btn-xs btn-danger active">1.95</button> <button type="button" class="btn btn-xs btn-warning active">3.10</button> <button type="button" class="btn btn-xs btn-danger active">3.70</button></p></div>

      </div>
    </div>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Détails</h3>
  </div>
  <div class="panel-body">
    <p class="text-center">Monaco fait un difficile début de saison, même si ils commencent à retrouver des couleurs avec le retour de Falcao. En face, Lille ne fait pas un mauvais début de championnat, mais risque de jouer en contre après la défaite face à Porto. Le score final sera probablement 1-1.</U></p>
  </div>
</div><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Ce que disent les autres</h3>
  </div>
  
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

    <a title="Wincomparator Monaco-LOSC" href="http://www.wincomparator.com/fr-fr/pronostic/pronostics-match/monaco-lille-2014-08-30.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Wincomparator <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Monaco</button> <button type="button" class="btn btn-xs btn-warning active">LOSC</button></p></div></a>

    <a title="SportyTrader Monaco-LOSC" href="http://www.sportytrader.com/pronostic-monaco-lille-32646.htm" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">SportyTrader <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Monaco</button> <button type="button" class="btn btn-xs btn-danger active">LOSC</button></p></div></a>

    <a title="Sport4Tune Monaco-LOSC" href="http://www.sport4tune.com/fr_pronostic-monaco-lille.php" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Sport4Tune <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">2</button> <button type="button" class="btn btn-xs btn-danger active">1</button></p></div></a>

    <a title="Coteur Monaco-LOSC" href="http://www.coteur.com/match/as-monaco-lille-rid636036.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Coteur <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-warning active">Monaco</button> <button type="button" class="btn btn-xs btn-warning active">Lille</button></p></div></a>

    <a title="foot-pronostic Guingamp-OM" href="http://www.foot-pronostic.net/pronostic/pronostic-ligue-1/match-2.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">foot-pronostic <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Monaco</button> <button type="button" class="btn btn-xs btn-danger active">LOSC</button></p></div></a>

    <a title="Qui parier ? Guingamp-Marseille" href="http://www.quiparier.com/football-guingamp-marseille-767096.html" target="_blank"><div class="col-lg-3 col-sm-6 col-md-4 col-xs-9"><p class="text-justify">Qui parier ? <span class="glyphicon glyphicon-arrow-right"></span> <button type="button" class="btn btn-xs btn-success active">Monaco</button> <button type="button" class="btn btn-xs btn-danger active">Lille</button></p></div>

    </div>
  </div>
</div>
</div><br>

<div class="wrapper">

        <a type="button" class="btn btn-info active" title="OM-Nice" href="match1"><span class="glyphicon glyphicon-chevron-left"></span> Marseille-Nice</button> 
         <a type="button" class="btn btn-info active" title= "Caen-Rennes" href="match3">Caen-Rennes <span class="glyphicon glyphicon-chevron-right"></span></a>

  </a>
</div>

  <br><br>



</body>
</html>